{% extends 'base.html' %}
{% load static %}
{% block content %}
    <sections>
        <div class="custom-container">
            <div style="display: flex;flex-direction: row;margin-top:100px;width: 100%;">
                <div  class="card_container_left">
                    <div class="top_dash">
                        <div class="header_dash">
                            <h4 style="margin:25px; font-weight: 700;">Recent Projects</h4>
                            <div class="view">
                                <a href="#" style="text-decoration: none;margin-right: 5px;">View all</a>
                                <i class="fas fa-long-arrow-alt-right svg_box"></i>
                            </div>
                            
                        </div>
                        <div class="first_lab">
                            <div class="project">
                                <div>
                                    <h4 class="project_title">Project/Contest Title</h4>
                                </div>
                                <div class="row">
                                    <h5 class="project_title">Employer</h5>
                                    <h5 class="project_title">Bid Amount</h5>
                                    <h5 class="project_title">Deadline</h5>
                                    <h5 class="project_title_ex">Milestone</h5>
                                </div>
                            </div>
                            <div class="project_content_container">
                                <div>
                                    <h4 class="project_content">Project</h4>
                                </div>
                                <div class="grid-container">
                                    <h5 class="project_content">User</h5>
                                    <h5 class="project_content">$524 USD</h5>
                                    <h5 class="project_content">over 1 year</h5>
                                    <h5 class="project_content_ex">2</h5>
                                </div>
                            </div>
                            <div class="end_content">
                                <div class="view">
                                    <a href="#" style="text-decoration: none;margin-right: 5px;">View all</a>
                                    <i class="fas fa-long-arrow-alt-right svg_box"></i>
                                </div>
                            </div>                            
                        </div>
                        <div class="lab" >
                            <div class="button-wrapper">
                                <div class="iconbox">
                                    <i class="fas fa-cloud-upload-alt"></i> 
                               </div>
                               <p class="paragraph">Start bidding now on projects that meet your skills.</p>
                               <div style="display:flex;">
                                    <span class="label">
                                        Upload File
                                        <input type="file" name="upload" id="upload" class="upload-box" placeholder="Upload File">
                                    </span>
                                                                      
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="middle_dash">
                        <div class="header_dash"><h4 style="margin:25px;font-weight: 700;">News Feed</h4></div>
                        <div class="middle">
                            <div>
                                <img  class="imagebox" src="./css/fluid-style-wallpaper-with-memphis-elements_23-2148498121.jpg" alt="">
                            </div>
                            <div style="width: 100%;">
                                <p class="p_tag">To help you get started, we would like to offer you a free upgrade to our Plus Membership for 30 days (valued at $9.95 USD). You'll receive these great benefits:</p>
                                <span style="margin-left:20px;">17 days ago</span>
                                <div class="middle_box">
                                    <div class="mid_container">
                                        <i class="fas fa-info-circle svg_box_2"></i>
                                        <h5 class="box_insert_title">Project reworked</h5>
                                    </div>
                                    <p class="paragraph">Kindly provide a better and personalized project description to help potential bidders. For assistance, please contact Freelancer.com Support.</p>
                                </div>
                            </div>
                        </div>
                        <div class="middle">
                            <div>
                                <img  class="imagebox" src="./css/fluid-style-wallpaper-with-memphis-elements_23-2148498121.jpg" alt="">
                            </div>
                            <div style="width: 100%;">
                                <p class="p_tag">To help you get started, we would like to offer you a free upgrade to our Plus Membership for 30 days (valued at $9.95 USD). You'll receive these great benefits:</p>
                                <span style="margin-left:20px;">17 days ago</span>
                                <div class="middle_box">
                                    <div class="mid_container">
                                        <i class="fas fa-info-circle svg_box_2"></i>
                                        <h5 class="box_insert_title">Project reworked</h5>
                                    </div>
                                    
                                    <p class="paragraph">Kindly provide a better and personalized project description to help potential bidders. For assistance, please contact Freelancer.com Support.</p>
                                    <div>
                                        <h5 class="last_btn_container">Request to release</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="middle">
                            <div>
                                <img  class="imagebox" src="./css/fluid-style-wallpaper-with-memphis-elements_23-2148498121.jpg" alt="">
                            </div>
                            <div style="width: 100%;">
                                <p class="p_tag paragraph">To help you get started, we would like to offer you a free upgrade to our Plus Membership for 30 days (valued at $9.95 USD). You'll receive these great benefits:</p>
                                <span style="margin-left:20px;">17 days ago</span>
                                <div class="middle_box">
                                    <div class="mid_container">
                                        <i class="fas fa-info-circle svg_box_2"></i>
                                        <h5 class="box_insert_title">Project reworked</h5>
                                    </div>
                                    
                                    <p class="paragraph">Kindly provide a better and personalized project description to help potential bidders. For assistance, please contact Freelancer.com Support.</p>
                                    <div>
                                        <h5 class="last_btn_container">Request to release</h5>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>                
                </div>
                <div class="card_container_right">
                    <div class="info_box">
                        <div class="right_main">
                            <h4 class="paragraph">Welcome back, <br><b>Atilla</b></h4>
                            <div class="right_bottom">
                                <h4 class="email_tag">@atilla_abdullazade</h4>
                                <h4 class="paragraph" style="padding-top: 3px;">Free member</h4>
                            </div>
                        </div>
                        <div>
                            <div class="second_piece">
                                <div class="right_bottom">
                                    <h4 class="paragraph">Set up your account</h4>
                                    <h4 class="paragraph">90%</h4>
                                </div>
                                <div class="progressBarContainer">
                                    <div class="progressBarValue value-90"></div>
                                </div>
                            </div>
                            <div class="endbox">
                                <div class="last_piece">
                                    <i class="far fa-id-card svg_box"></i>
                                    <h4 class="paragraph">Add your address</h4>
                                    <h4 class="paragraph">+%5</h4>
                                </div>
                                <div class="last_piece__end">
                                    <div class="top_right">
                                        <h4 class="paragraph">Account balance</h4>
                                        <div class="view" style="margin: 0px;">
                                            <a href="#" style="font-size: 15px; text-decoration: none;margin-right: 5px;">Deposit funds</a>
                                            <i class="fas fa-long-arrow-alt-right svg_box"></i>
                                        </div>
                                    </div>
                                    <h4 class="h5_tag">
                                        $2500.00 USD
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bids">
                        <div class="top_right">
                            <h4 class="paragraph">Bid Summary</h4>
                            <div class="view" style="margin: 0px;">
                                <a href="#" style="font-size: 15px; text-decoration: none;margin-right: 5px;">View insights</a>                                
                            </div>
                        </div>
                        
                        <div>
                            <div class="middle_bids">
                                <h5 class="h5_tag">Remaining</h5>
                                <span>8/8</span>
                            </div>
                            <div class="underline"></div>
                            <div class="middle_bids">
                                <h5 class="h5_tag">Until next bid</h5>
                                <span>-</span>
                            </div>
                            <div class="underline"></div>
                            <div class="middle_bids">
                                <h5 class="h5_tag">Rplenishment rate</h5>
                                <span>1x</span>
                            </div>
                            <div class="underline"></div>
                        </div>
                    </div> 
                    <div class="bids">
                        <div class="top_right">
                            <h4 class="paragraph">Pols</h4>
                            <div class="view" style="margin: 0px;">
                                <a href="#" style="font-size: 15px; text-decoration: none;margin-right: 5px;">View insights</a>                                
                            </div>
                        </div>
                        
                        <div>
                            <div class="middle_bids">
                                <h5 class="h5_tag">What is your gender</h5>                                
                            </div>
                            <div>
                                <h5 class="last_btn_container">Submit answer</h5>
                            </div>
                        </div>
                    </div>                 
                </div>
                  
            </div>
        </div>
    </sections>


{% endblock %}