<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/post_project.css' %}">
    <link rel="stylesheet" href="{% static 'css/project-proposals.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <link rel="stylesheet" href="{% static 'css/get_started.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">

    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
</head>
<body>
    <div class="post_project">
        <div>

        </div>
        <div>

        </div>
    </div>
    <sections>
        <div class="container5">
            <div class="pp_center_con">
                <div class="form">
                    <div class="flex-row">
                        <div class="form_inc1">

                        </div>
                        <div class="form_inc2">

                        </div>
                    </div>
                    <div class="form_sec">
                        <div class="sec_1">
                            <i onclick="location.href = `{% url 'home' %}`;" class="fas fa-arrow-left undo_icon"></i>
                            <h3>What do you looking for?</h3>
                            <i onclick="location.href = `{% url 'home' %}`;" class="fas fa-times undo_icon"></i>
                        </div>
                        <div class="sec_2">
                            <div class="get_started_con">
                                <div class="card" onclick="location.href = `{% url 'post-project' %}`;" class="fas fa-arrow-left undo_icon">
                                    <div class="img_container" style="color: black;">
                                        <div style="background-image: url('{% static 'icons/postaproject.svg' %}');" class="back_img" alt=""></div>
                                    </div>
                                    <h4>Post a project</h5>
                                </div>
                                <div class="card" onclick="location.href = `{% url 'searchjob' %}`;">
                                    <div class="img_container" style="color: black;">
                                        <div  style="background-image: url('{% static 'icons/findajob.svg' %}');" class="back_img" alt=""></div>
                                    </div>
                                    <h4>Find freelance jobs</h4>
                                </div>
                                <div class="card" onclick="location.href = `{% url 'searchfreelancer' %}`;">
                                    <div class="img_container" style="color: black;">
                                        <div style="background-image: url('{% static 'icons/hirefreelancer.svg' %}');" class="back_img" alt=""></div>
                                    </div>
                                    <h4>Hire a freelancer</h4>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </sections>
</body>
</html>