{% extends 'includes/basehome.html' %}
{% load static %}
{% block content %}



<link rel="stylesheet" href="{% static 'css/style2.css' %}">

    <!-- <sections class="background">
       
            
            
            <div class="custom-container">
                
                
               <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                    <div style="width: 100%; height: 100vh;">
                        <video onclick="event.preventDefault(); return false;" autoplay muted loop class="back_vid" controls>
                            <source src="{%static 'images/production ID_3969421.mp4'%}" type="video/mp4">
                           
            
                            
                        </video>
                    </div>
                    <div class="head_text">
                        <h4 class="middle_text" >
                            Find & Hire <br> Expert Freelancers
                        </h4>
                        <div style="margin-top: 25px;margin-bottom: 10px;">
                            <done>
                                Get started
                            </done>
                        </div>
                    </div>
                    <div class="smoothly_cont">
                        <div class="smoothly">
                            <i class="fas fa-chevron-down" style="cursor: pointer;"></i>
                        </div>
                    </div>
               </div>
               
            </div>
    </sections> -->

    <sections class="background" >
       
        <!-- <img src="{%static 'images/main1.jpg'%}" class="back_img" srcset=""> -->
        
        <div class="custom-container backgorund_img" style="background-image: url('{% static 'icons/freelancer.svg' %}');">
            
            <div class="head_text">
                <h2>
                    Find & Hire <br> Expert Freelancers
                </h2>
                <p>Hire proven pros with confidence using the world’s largest, remote talent platform.</p>
                <done onclick="location.href = `{% url 'get-started' %}`;">
                    Get started
                </done>
            </div>
           <!-- <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                <div style="width: 100%; height: 100vh;">
                    
                </div>
                
                <div class="smoothly_cont">
                    <div class="smoothly">
                        <i class="fas fa-chevron-down" style="cursor: pointer;"></i>
                    </div>
                </div>
           </div> -->
           
        </div>
    </sections>

<!-- /////////////////////////INFO_BOX//////////////////////////////// -->
    <sections>
        <div class="custom-container">
            
            <div class="infobox">
                <h3> Need something done?</h3>
                
                <div class="row question_box_container">
                    <div class="col question_box">
                        <div class="img_container" style="color: black;">
                            <div style="background-image: url('{% static 'icons/postaproject.svg' %}');" class="back_img" alt=""></div>
                        </div>
                        <h4 class="title_box">Post a project</h4>
                        <p class="box_paragraph">
                            It's easy. Simply post a job you need completed and receive competitive bids from freelancers within minutes.
                        </p>
                    </div>
                    <div class="col question_box">
                        <div class="img_container" style="color: black;">
                            <div style="background-image: url('{% static 'icons/findajob.svg' %}');" class="back_img" alt=""></div>
                        </div>
                        <h4 class="title_box">Find a job</h4>
                        <p class="box_paragraph">
                            It's easy. Simply post a job you need completed and receive competitive bids from freelancers within minutes.
                        </p>
                    </div>
                    <div class="col question_box">
                        <div class="img_container" style="color: black;">
                            <div style="background-image: url('{% static 'icons/hirefreelancer.svg' %}');" class="back_img" alt=""></div>
                        </div>
                        <h4 class="title_box">Choose freelancers</h4>
                        <p class="box_paragraph">
                            Whatever your needs, there will be a freelancer to get it done: from web design, mobile app development and graphic design (and a whole lot more).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </sections>

    <!-- /////////////////////////TALENT_CARDS//////////////////////////////// -->
    <sections>
        <div class="custom-container" style="margin-top: 0px;">
            <h3 class="box_main_title_2"> Find quality talent or agencies </h3>

            <div class="talent_box_container">
                <div class="col talent_box">
                    <div style="background-image: url('{% static 'icons/development2.svg' %}');" class="back_img" alt=""></div>
                    <div class="talent_box-p">
                        <h5>Web, Mobile & Software Dev</h5>
                    </div>                               
                </div>
                <div class="col talent_box">
                    <div style="background-image: url('{% static 'icons/design2.svg' %}');" class="back_img" alt=""></div>
                    <div class="talent_box-p">
                        <h5>Design & Creative</h5>
                    </div>                               
                </div>
                <div class="col talent_box">
                    <div style="background-image: url('{% static 'icons/writing2.svg' %}');" class="back_img" alt=""></div>
                    <div class="talent_box-p">
                        <h5>Writing</h5>
                    </div>                               
                </div>
                <div class="col talent_box">
                    <div style="background-image: url('{% static 'icons/marketing2.svg' %}');" class="back_img" alt=""></div>
                    <div class="talent_box-p">
                        <h5>Sales & Marketing</h5>
                    </div>                               
                </div>
                <div class="col talent_box">
                    <div style="background-image: url('{% static 'icons/admin2.svg' %}');" class="back_img" alt=""></div>
                    <div class="talent_box-p">
                        <h5>Admin Support</h5>
                    </div>                               
                </div>
                <div class="col talent_box">
                    <div style="background-image: url('{% static 'icons/service2.svg' %}');" class="back_img" alt=""></div>
                    <div class="talent_box-p">
                        <h5>Customer Service</h5>
                    </div>                               
                </div>
                <div class="col talent_box">
                    <div style="background-image: url('{% static 'icons/data2.svg' %}');" class="back_img" alt=""></div>
                    <div class="talent_box-p">
                        <h5>Data Science & Analytics</h5>
                    </div>                               
                </div>
                <div class="col talent_box">
                    <div style="background-image: url('{% static 'icons/engineering2.svg' %}');" class="back_img" alt=""></div>
                    <div class="talent_box-p">
                        <h5>Engineering & Architecture</h5>
                    </div>                               
                </div>
                <!-- <div class="col talent_box">
                    <img src="{%static 'images/pexels-pixabay-73873.jpg'%}" class="back_img" srcset="">
                    <div class="img_container">
                       
                        <i class="fas fa-laptop-code"></i>
                    </div>  
                    <h4 class="talent_box_h4">Web developing</h4>                                   
                </div>
                <div class="col talent_box">
                    <img src="{%static 'images/pexels-pixabay-73873.jpg'%}" class="back_img" srcset="">
                    <div class="img_container">
                        
                        <i class="fas fa-laptop-code"></i>
                    </div>  
                    <h4 class="talent_box_h4">Web developing</h4>                                   
                </div>
                <div class="col talent_box">
                    <img src="{%static 'images/pexels-pixabay-73873.jpg'%}" class="back_img" srcset="">
                    <div class="img_container">
                       
                        <i class="fas fa-laptop-code"></i>
                    </div>  
                    <h4 class="talent_box_h4">Web developing</h4>                                   
                </div>
                <div class="col talent_box">
                    <img src="{%static 'images/pexels-pixabay-73873.jpg'%}" class="back_img" srcset="">
                    <div class="img_container">
                       
                        <i class="fas fa-laptop-code"></i>
                    </div>  
                    <h4 class="talent_box_h4">Web developing</h4>                                   
                </div>
                <div class="col talent_box">
                    <img src="{%static 'images/pexels-pixabay-73873.jpg'%}" class="back_img" srcset="">
                    <div class="img_container">
                       
                        <i class="fas fa-laptop-code"></i>
                    </div>  
                    <h4 class="talent_box_h4">Web developing</h4>                                   
                </div>
                 -->
            </div>
            




          
        </div>
    </sections>

    <sections class="footer">
        <div class="custom-container">
            
            
        </div>
    </section>


{% endblock %}













   