{% extends 'base.html' %}
{% load static %}
{% block content %}


    <sections class="background">
       
            
            <div class="custom-container">
                
                
               <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                    <video  autoplay muted loop  class="back_vid" controls>
                        <source src="{%static 'images/production ID_3969421.mp4'%}" type="video/mp4">
        
                        
                    </video>
                    <div class="head_text">
                        <h1 class="middle_text" >
                            Find & Hire <br> Expert Freelancers
                        </h1>
                        <div style="margin-top: 25px;margin-bottom: 10px;">
                            <done style="cursor: pointer !important;">  
                                Get started
                            </done>
                        </div>
                    </div>
                    <div class="smoothly_cont">
                        <div class="smoothly">
                            <i class="fas fa-chevron-down " style="cursor: pointer;"></i>
                        </div>
                    </div>
               </div>
               
            </div>
    </sections>



    <sections>
        <div class="base_info">
            <div class="container_info">
                <div class="box">
                    <div class="content">
                        <h2><i class="fas fa-seedling"></i></h2>
                        <h3>Post a job</h3>
                        <p>It's easy. Simply post a job you need completed and receive competitive bids from freelancers within minutes.</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
              
                <div class="box">
                    <div class="content">
                        <h2><i class="fas fa-atom"></i></h2>
                        <h3>Choose freelancers</h3>
                        <p>Whatever your needs, there will be a freelancer to get it done: from web design, mobile app development, virtual assistants, product manufacturing, and graphic design (and a whole lot more). </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
              
                <div class="box">
                    <div class="content">
                        <h2><i class="far fa-credit-card"></i></h2>
                        <h3>Pay safely</h3>
                        <p>With secure payments and thousands of reviewed professionals to choose from, Freelancer.com is the simplest and safest way to get work done online.</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </sections>

    <section>
        <div class="custom-container" style="display: flex;
        align-items: center;
        width: 100%;margin-top: 160px;flex-direction: column;">
            <h4 class="category_head">Find quality talent or agencies</h4>
            <div class="category-container">
                <div class="category-block">
                    <img src="https://d3vv6lp55qjaqc.cloudfront.net/items/0W022B3v383p0X1k0T3V/category-freelance@2x.png">
                    <div class="category-info">
                        <h2>Freelance</h2>
                        <p>Find work, get paid, and manage your freelance career like a boss</p>
                        <a href="#">Discover</a>
                    </div>
                </div>
                <div class="category-block">
                    <img src="https://d3vv6lp55qjaqc.cloudfront.net/items/0W022B3v383p0X1k0T3V/category-freelance@2x.png">
                    <div class="category-info">
                        <h2>Freelance</h2>
                        <p>Find work, get paid, and manage your freelance career like a boss</p>
                        <a href="#">Discover</a>
                    </div>
                </div>
                <div class="category-block">
                    <img src="https://d3vv6lp55qjaqc.cloudfront.net/items/0W022B3v383p0X1k0T3V/category-freelance@2x.png">
                    <div class="category-info">
                        <h2>Freelance</h2>
                        <p>Find work, get paid, and manage your freelance career like a boss</p>
                        <a href="#">Discover</a>
                    </div>
                </div>
                <div class="category-block">
                    <img src="https://d3vv6lp55qjaqc.cloudfront.net/items/0W022B3v383p0X1k0T3V/category-freelance@2x.png">
                    <div class="category-info">
                        <h2>Freelance</h2>
                        <p>Find work, get paid, and manage your freelance career like a boss</p>
                        <a href="#">Discover</a>
                    </div>
                </div>
                <div class="category-block">
                    <img src="https://d3vv6lp55qjaqc.cloudfront.net/items/0W022B3v383p0X1k0T3V/category-freelance@2x.png">
                    <div class="category-info">
                        <h2>Freelance</h2>
                        <p>Find work, get paid, and manage your freelance career like a boss</p>
                        <a href="#">Discover</a>
                    </div>
                </div>
                <div class="category-block">
                    <img src="https://d3vv6lp55qjaqc.cloudfront.net/items/0W022B3v383p0X1k0T3V/category-freelance@2x.png">
                    <div class="category-info">
                        <h2>Freelance</h2>
                        <p>Find work, get paid, and manage your freelance career like a boss</p>
                        <a href="#">Discover</a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>


    <section style="margin-top: 100px;">
        

        <footer class="new_footer_area bg_color">
            <div class="new_footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">Get in Touch</h3>
                                <p>Don’t miss any updates of our new templates and extensions.!</p>
                                <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                                    <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                                    <button class="btn btn_get btn_get_two" type="submit">Subscribe</button>
                                    <p class="mchimp-errmessage" style="display: none;"></p>
                                    <p class="mchimp-sucmessage" style="display: none;"></p>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">Download</h3>
                                <ul class="list-unstyled f_list">
                                    <li><a href="#">Company</a></li>
                                    <li><a href="#">Android App</a></li>
                                    <li><a href="#">ios App</a></li>
                                    <li><a href="#">Desktop</a></li>
                                    <li><a href="#">Projects</a></li>
                                    <li><a href="#">My tasks</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">Help</h3>
                                <ul class="list-unstyled f_list">
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Term &amp; conditions</a></li>
                                    <li><a href="#">Reporting</a></li>
                                    <li><a href="#">Documentation</a></li>
                                    <li><a href="#">Support Policy</a></li>
                                    <li><a href="#">Privacy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
                                <div class="f_social_icon">
                                    <a href="#" class="fab fa-facebook"></a>
                                    <a href="#" class="fab fa-twitter"></a>
                                    <a href="#" class="fab fa-linkedin"></a>
                                    <a href="#" class="fab fa-pinterest"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_bg">
                    <div class="footer_bg_one"></div>
                    <div class="footer_bg_two"></div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-sm-7">
                            <p class="mb-0 f_400">© Karnavel Corporation Inc.. 2019 All rights reserved.</p>
                        </div>
                        <div class="col-lg-6 col-sm-5 text-right">
                            <p>Made with <i class="icon_heart"></i> in <a href="#">karna_vel</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>

    
    
{% endblock %}