{% extends 'base.html' %}
{% load static %}
{% block content %}


    <sections class="background">
       
            <!-- <img src="{%static 'images/main1.jpg'%}" class="back_img" srcset=""> -->
            
            <div class="custom-container">
                
                
               <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                    <video onclick="event.preventDefault(); return false;" autoplay muted loop class="back_vid" controls>
                        <source src="{%static 'images/production ID_3969421.mp4'%}" type="video/mp4">
                        <!-- <source src="{%static 'images/video.mp4'%}" type="video/mp4"> -->
        
                        
                    </video>
                    <div class="head_text">
                        <h1 class="middle_text" >
                            Find & Hire <br> Expert Freelancers
                        </h1>
                        <div style="margin-top: 25px;margin-bottom: 10px;">
                            <done>
                                Get started
                            </done>
                        </div>
                    </div>
                    <div class="smoothly_cont">
                        <div class="smoothly">
                            <i class="fas fa-chevron-down" style="cursor: pointer;"></i>
                        </div>
                    </div>
               </div>
               
            </div>
    </sections>

<!-- /////////////////////////INFO_BOX//////////////////////////////// -->
    <sections>
        <div class="custom-container">
            <div class="infobox">
                <h4 class="box_main_title"> Need something done?</h4>
                <div class="row question_box_container">
                    <div class="col question_box">
                        <div class="img_container" style="color: black;">
                            <i class="fas fa-rocket"></i>
                        </div>
                        <h4 class="title_box">Post a job</h4>
                        <p class="box_paragraph">
                            It's easy. Simply post a job you need completed and receive competitive bids from freelancers within minutes.
                        </p>
                    </div>
                    <div class="col question_box">
                        <div class="img_container" style="color: black;">
                            <i class="fas fa-rocket"></i>
                        </div>
                        <h4 class="title_box">Post a job</h4>
                        <p class="box_paragraph">
                            It's easy. Simply post a job you need completed and receive competitive bids from freelancers within minutes.
                        </p>
                    </div>
                    <div class="col question_box">
                        <div class="img_container" style="color: black;">
                            <i class="fas fa-rocket"></i>
                        </div>
                        <h4 class="title_box">Post a job</h4>
                        <p class="box_paragraph">
                            It's easy. Simply post a job you need completed and receive competitive bids from freelancers within minutes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </sections>

    <!-- /////////////////////////TALENT_CARDS//////////////////////////////// -->
    <sections>
        <div class="custom-container" style="padding-top: 60px;">
            <div class="box_main_title_2"> Find quality talent or agencies </div>

            <div class="talent_box_container">
                <div class="col talent_box">
                    <img src="{%static 'images/pexels-pixabay-73873.jpg'%}" class="back_img" srcset="">
                    <div class="img_container">
                        <!-- <img src="{%static 'images/pexels-pixabay-73873.jpg'%}" class="back_img" srcset=""> -->
                        <i class="fas fa-laptop-code"></i>
                    </div>  
                    <h4 class="talent_box_h4">Web developing</h4>                                   
                </div>
                <div class="col talent_box">
                    <img src="{%static 'images/pexels-pixabay-73873.jpg'%}" class="back_img" srcset="">
                    <div class="img_container">
                        <!-- <img src="{%static 'images/pexels-pixabay-73873.jpg'%}" class="back_img" srcset=""> -->
                        <i class="fas fa-laptop-code"></i>
                    </div>  
                    <h4 class="talent_box_h4">Web developing</h4>                                   
                </div>
                <div class="col talent_box">
                    <img src="{%static 'images/pexels-pixabay-73873.jpg'%}" class="back_img" srcset="">
                    <div class="img_container">
                        <!-- <img src="{%static 'images/pexels-pixabay-73873.jpg'%}" class="back_img" srcset=""> -->
                        <i class="fas fa-laptop-code"></i>
                    </div>  
                    <h4 class="talent_box_h4">Web developing</h4>                                   
                </div>
                <div class="col talent_box">
                    <img src="{%static 'images/pexels-pixabay-73873.jpg'%}" class="back_img" srcset="">
                    <div class="img_container">
                        <!-- <img src="{%static 'images/pexels-pixabay-73873.jpg'%}" class="back_img" srcset=""> -->
                        <i class="fas fa-laptop-code"></i>
                    </div>  
                    <h4 class="talent_box_h4">Web developing</h4>                                   
                </div>
                <div class="col talent_box">
                    <img src="{%static 'images/pexels-pixabay-73873.jpg'%}" class="back_img" srcset="">
                    <div class="img_container">
                        <!-- <img src="{%static 'images/pexels-pixabay-73873.jpg'%}" class="back_img" srcset=""> -->
                        <i class="fas fa-laptop-code"></i>
                    </div>  
                    <h4 class="talent_box_h4">Web developing</h4>                                   
                </div>
                <div class="col talent_box">
                    <img src="{%static 'images/pexels-pixabay-73873.jpg'%}" class="back_img" srcset="">
                    <div class="img_container">
                        <!-- <img src="{%static 'images/pexels-pixabay-73873.jpg'%}" class="back_img" srcset=""> -->
                        <i class="fas fa-laptop-code"></i>
                    </div>  
                    <h4 class="talent_box_h4">Web developing</h4>                                   
                </div>
                
            </div>
            




          
        </div>
    </sections>

    <!-- /////////////////////////COUNTER//////////////////////////////// -->
    <sections>
        <div class="custom-container counter-section">
            <div class="row text-center">
                
                <div class="counter-box">
                    <div class="iconbox">
                        <i class="fa fa-bolt" aria-hidden="false"></i>
                    </div>
                    <h1 class="counter">150</h1>
                    <p class="box_paragraph">With secure payments and thousands of reviewed professionals to choose from, Freelancer.com is the simplest and safest way to get work done online.</p>
                </div> 
                <div class="counter-box">
                    <div class="iconbox">
                        <i class="fa fa-bolt" aria-hidden="false"></i>
                    </div>
                    <h1 class="counter">150</h1>
                    <p class="box_paragraph">With secure payments and thousands of reviewed professionals to choose from, Freelancer.com is the simplest and safest way to get work done online.</p>
                </div> 
                <div class="counter-box">
                    <div class="iconbox">
                        <i class="fa fa-bolt" aria-hidden="false"></i>
                    </div>
                    <h1 class="counter">150</h1>
                    <p class="box_paragraph">With secure payments and thousands of reviewed professionals to choose from, Freelancer.com is the simplest and safest way to get work done online.</p>
                </div>               
            </div>
        </div>
    </sections>
    
    
{% endblock %}













   