<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" >
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <script src="https://kit.fontawesome.com/13768c085c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
    <script
        src="https://code.jquery.com/jquery-1.12.4.min.js">
    </script>
    
</head>
<body>
    
    <!-- /////////////////////////NAVBAR//////////////////////////////// -->
    <nav class="nav">
        <div class="containers">
            <div class="left_side_nav">
                <h1 class="header">How it works</h1>
            </div>
            <div class="left_side_nav">
                <button id="btn_transparent" class="login">Login</button>
                <button id="btn_transparent" class="sign_up">Sign up</button>
                
            </div>
        </div>
    </nav>
    
    <!-- /////////////////////////MAIN_IMAGE//////////////////////////////// -->     
    <sections>
        <div class="custom-container" style="border: midnightblue 2px solid;">
            <div class="vertical-center">
                <h1 class="middle_text">
                    Find & Hire <br> Expert Freelancers
                </h1>
            </div>
            
        </div>
    </sections>

<!-- /////////////////////////INFO_BOX//////////////////////////////// -->
    <sections>
        <div class="custom-container">
            <div class="infobox">
                <h4 class="box_main_title"> Need something done?</h4>
                <div class="row question_box_container">
                    <div class="col question_box">
                        <i class="fa fa-taxi" aria-hidden="false"></i>
                        <h4 class="title_box">Post a job</h4>
                        <p class="box_paragraph">
                            It's easy. Simply post a job you need completed and receive competitive bids from freelancers within minutes.
                        </p>
                    </div>
                    <div class="col question_box">
                        <i class="fa fa-taxi" aria-hidden="false"></i>
                        <h4 class="title_box">Post a job</h4>
                        <p class="box_paragraph">
                            It's easy. Simply post a job you need completed and receive competitive bids from freelancers within minutes.
                        </p>
                    </div>
                    <div class="col question_box">
                        <i class="fa fa-taxi" aria-hidden="false"></i>
                        <h4 class="title_box">Post a job</h4>
                        <p class="box_paragraph">
                            It's easy. Simply post a job you need completed and receive competitive bids from freelancers within minutes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </sections>

    <!-- /////////////////////////TALENT_CARDS//////////////////////////////// -->
    <sections>
        <div class="custom-container" style="padding-top: 60px;">
            <div class="box_main_title_2"> Find quality talent or agencies </div>

            <div class="talent_box_container">
                <div class="col talent_box">  
                    <div class="img_container">
                        <i class="fas fa-laptop-code"></i>
                    </div>   
                                  
                </div>
                <div class="col talent_box">
                    
                    <div class="img_container">
                        <i class="fas fa-laptop-code"></i>
                    </div>  
                    <h4 class="talent_box_h4">dasda</h4> 
                                  
                </div>
                <div class="col talent_box">  
                    <div class="img_container">
                        <i class="fas fa-laptop-code"></i>
                    </div>   
                                  
                </div>
                <div class="col talent_box">  
                    <div class="img_container">
                        <i class="fas fa-laptop-code"></i>
                    </div>   
                                  
                </div>
                <div class="col talent_box">  
                    <div class="img_container">
                        <i class="fas fa-laptop-code"></i>
                    </div>   
                                  
                </div>
                <div class="col talent_box">  
                    <div class="img_container">
                        <i class="fas fa-laptop-code"></i>
                    </div>   
                                  
                </div>
                
            </div>
            




          
        </div>
    </sections>

    <!-- /////////////////////////COUNTER//////////////////////////////// -->
    <sections>
        <div class="custom-container counter-section">
            <div class="row text-center">
                <div class="counter-box">
                    <div class="iconbox">
                        <i class="fa fa-bolt" aria-hidden="false"></i>
                    </div>
                    <h1 class="counter">150</h1>
                    <p class="box_paragraph">With secure payments and thousands of reviewed professionals to choose from, Freelancer.com is the simplest and safest way to get work done online.</p>
                </div> 
                <div class="counter-box">
                    <div class="iconbox">
                        <i class="fa fa-bolt" aria-hidden="false"></i>
                    </div>
                    <h1 class="counter">150</h1>
                    <p class="box_paragraph">With secure payments and thousands of reviewed professionals to choose from, Freelancer.com is the simplest and safest way to get work done online.</p>
                </div> 
                <div class="counter-box">
                    <div class="iconbox">
                        <i class="fa fa-bolt" aria-hidden="false"></i>
                    </div>
                    <h1 class="counter">150</h1>
                    <p class="box_paragraph">With secure payments and thousands of reviewed professionals to choose from, Freelancer.com is the simplest and safest way to get work done online.</p>
                </div> 
                <div class="counter-box">
                    <div class="iconbox">
                        <i class="fa fa-bolt" aria-hidden="false"></i>
                    </div>
                    <h1 class="counter">150</h1>
                    <p class="box_paragraph">With secure payments and thousands of reviewed professionals to choose from, Freelancer.com is the simplest and safest way to get work done online.</p>
                </div>               
            </div>
        </div>
    </sections>


    <section>
            <!-- Footer -->
        <footer class="page-footer font-small cyan darken-3" style="background-color:rgb(42,42,42);">

            <!-- Footer Elements -->
            <div class="container" style="display: flex;justify-content: center; align-content: center;">
        
            <!-- Grid row-->
            <div class="row">
        
                <!-- Grid column -->
                <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">
        
                    <!-- Facebook -->
                    <a class="fb-ic">
                    <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                    <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                    <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                    <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                    <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic">
                    <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
                </div>
                <!-- Grid column -->
        
            </div>
            <!-- Grid row-->
        
            </div>
            <!-- Footer Elements -->
        
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="https://final_project.com/"> MDBootstrap.com</a>
            </div>
            <!-- Copyright -->
        
        </footer>
        <!-- Footer -->
            
        
        
    </section>
   


<script>
    var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.querySelector("nav").style.top = "0";
        } else {
            document.querySelector("nav").style.top = "-60px";
        }
        prevScrollpos = currentScrollPos;
        }

</script>




</body>
<script src="./js/jquery.counterup.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script>
    $('.counter').counterUp({
        delay: 10,
        time: 1000
    });
</script>


<script src="https://use.fontawesome.com/dec111573d.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</html>














   