
{% extends 'includes/base2.html' %}
{% block content %}
    <div class="space-between stage_1">
        <h4>Projects and Contents</h4>        
        <div class="flex-row">
            <div class="employer_btn btn_off  align-center">Employer</div>
            <div class="freelancer_btn selected_btn align-center">Freelancer</div>
        </div>
    </div>
    <div class="space-between">
        <div class="search flex-row">
            <input type="text">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>
        <div class="space-between">
          <label for="cars">Show:</label>

          <select name="cars" id="pages">
            <option value="volvo">10</option>
            <option value="volvo">20</option>
            <option value="volvo">30</option>
          </select>
        </div>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Project name</th>
            <th scope="col">Employer</th>
            <th scope="col">Last</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

    <script>
        $('.employer_btn').on('click',function(){
            $('.employer_btn').addClass('selected_btn')
            $('.freelancer_btn').removeClass('selected_btn')
            $('.freelancer_btn').addClass('btn_off')

        })

        $('.freelancer_btn').on('click',function(){
            $('.employer_btn').removeClass('selected_btn')
            $('.freelancer_btn').addClass('selected_btn')
            $('.employer_btn').addClass('btn_off')

        })
    </script>

{% endblock %}