
{% extends 'includes/base2.html' %}
{% block content %}
    <div class="my_profile_con">
        <div class="grade_1 grades">
            <div class="grade_1_left">

            </div>
            <div class="grade_1_right">
                <div class="grade_1_right_up">
                    <div>
                        <h4>J.Tayfun</h4>
                    </div>
                    <div>
                        
                    </div>
                    
                </div>
                <div class="grade_1_right_down">

                </div>
            </div>
        </div>
        <div class="grade_2 ">
            <div class="grade_2_left grade_part">
                <div class="grades con">
                    <div class="space_between">
                        <h4>Front-End Developer</h4>
                        <div>
                            12 manat
                        </div>
                    </div>
                    <p>asdasdasd</p>
                </div>

                <div class="grades con">
                    <div class="space_between">
                        <h4>Front-End Developer </h4>
                        <div>
                            12 manat
                        </div>
                    </div>
                    <p>asdasdasd</p>
                </div>

                <div class="space_between">
                    <div></div>
                    <div>
                        <button>Cancel</button>
                        <btnb>Save</btnb>
                    </div>
                </div>
            </div>
            <div class="grade_2_right grade_part">
                <div class="grades con">
                    <div class="align_center">
                        <h4>Front-End Developer</h4>
                    </div>
                    <div class="space_between">
                        <div class="align_center">
                            <p>Email Verified</p>
                        </div>
                        <div>
                            <p>Verified</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>

{% endblock %}