<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">

    <link rel="stylesheet" href="{% static 'css/post_project.css' %}">
    <link rel="stylesheet" href="{% static 'css/project-proposals.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <link rel="stylesheet" href="{% static 'css/get_started.css' %}">
    <link rel="stylesheet" href="{% static 'css/post_project.css' %}">

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">

    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
</head>
<style>
    ul {
        list-style-type: none;
        padding: 0px;
    }
    .form-control {
        margin: 20px 0 !important;
    }
    h4 {
        margin-top: 25px !important;
    }
</style>
<body>
    <div class="post_project">
        <div>

        </div>
        <div>

        </div>
    </div>
    <sections>
        <div class="container5">
            <div class="pp_center_con">
                <div class="form">
                    <div class="flex-row">
                        <div class="form_inc1">

                        </div>
                        <div class="form_inc2">

                        </div>
                    </div>
                    <div class="form_sec">
                        

                        <div class="sec_1">
                            <i onclick="location.href = `{% url 'get-started' %}`;" class="fas fa-arrow-left undo_icon"></i>
                            <h3>Post a project</h3>
                            <i onclick="location.href = `{% url 'home' %}`;" class="fas fa-times undo_icon"></i>
                        </div>
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                        <form class="sec_2" action="#" method="POST" enctype="multipart/form-data"> 
                            {% csrf_token %}                           
                            <div class="form-control">
                                <h4 style="margin:0px;">Choose a name for your project</h4>
                                {{form.title}}
                                <span>{{form.title.errors}}</span>
                                <!-- <input type="text" placeholder="e.g. Build me a website"> -->
                                <div class="input_details">
                                    <small>Please enter at least 10 characters!:</small>
                                </div>
                            </div>
                            <div class="form-control">
                                <h4>Tell us more about your project</h4>
                                <p>Start with a bit about yourself or your business, and include an overview of what you need done.</p>
                                {{form.description}}
                                <span>{{form.description.errors}}</span>
                                <!-- <textarea placeholder="Describe your contest here..." name="" id="" cols="30" rows="10"></textarea> -->
                                <div class="input_details">
                                    <small>Please enter at least 20 characters!</small>
                                </div>
                                <h4>Add file</h4>
                                <p>Drag & drop any images or documents that might be helpful in explaining your brief here (Max file size: 25 MB).</p>
                                {{form.upload_files}}
                                <span>{{form.title.upload_files}}</span>
                                
                            </div>
                            <div class="form-control">
                                <h4>Levels</h4>
                                {{form.level}}
                                <!-- <input type="text" placeholder="e.g. Build me a website"> -->
                            </div>
                            <div class="form-control">
                                <h4>What skills are required?</h4>
                                <p>Enter up to 3 skills that best describe your contest. Freelancers will use these skills to find contests they are most interested and experienced in.</p>
                                <div class="skills_design">{{form.skills}}</div>
                                <span for=""> 3skills remaining</span>
                                
                                
                                <span>{{form.skills.errors}}</span>
                                <!-- <input type="text" placeholder="e.g. Build me a website"> -->
                                
                            </div>
                            <div class="form-control">
                                <h4>What is your estimated budget?</h4>
                                <!-- <select name="" id=""> -->
                                    {{form.currency}}
                                    {{form.price_type}}
                                    <!-- <option value="">AZN</option> -->
                                <!-- </select> -->
                                <p>Minimum budget</p>
                                {{form.price_min}}
                                <span>{{form.price_min.errors}}</span>
                                <!-- <input type="password" placeholder="Enter a budget here">     -->
                                <!-- <div class="input_details">
                                    <small>Please enter at least 10 characters!</small>
                                </div> -->
                                <p>Maximum budget</p>
                                {{form.price_max}}
                                <span>{{form.price_max.errors}}</span>
                                <!-- <input type="password" placeholder="Enter a budget here">     -->
                                <!-- <div class="input_details">
                                    <small>Please enter at least 10 characters!</small>
                                </div> -->
                            </div>
                            <div class="form-control">
                                <h4>Admit Time</h4>
                                {{form.admit_time}}
                                <span>{{form.admit_time.errors}}</span>
                                <!-- <input type="text" placeholder="e.g. Build me a website"> -->
                            
                            </div>
                            <div class="form-next">
                                
                                <!-- <button>Next</button> -->
                                <input class="done" type="submit" value="Yes, post my project">
                               
                            </div>
                            
                           
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </sections>
</body>
</html>