<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/post_project.css' %}">
</head>
<body>
    <div class="post_project">
        <div>

        </div>
        <div>

        </div>
    </div>
    <section>
        <div class="container">
            <div class="pp_center_con">
                <div class="form">
                    <div class="form_inc">

                    </div>
                    <div class="form_sec">
                        <div class="sec_1">
                            <svg class="undo_icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M492,236H68.442l70.164-69.824c7.829-7.792,7.859-20.455,0.067-28.284c-7.792-7.83-20.456-7.859-28.285-0.068
                                            l-104.504,104c-0.007,0.006-0.012,0.013-0.018,0.019c-7.809,7.792-7.834,20.496-0.002,28.314c0.007,0.006,0.012,0.013,0.018,0.019
                                            l104.504,104c7.828,7.79,20.492,7.763,28.285-0.068c7.792-7.829,7.762-20.492-0.067-28.284L68.442,276H492
                                            c11.046,0,20-8.954,20-20C512,244.954,503.046,236,492,236z"/>
                                    </g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                            </svg>
                            <h3>Post a project</h3>
                            <svg class="close_icon" xmlns="http://www.w3.org/2000/svg" height="329pt" viewBox="0 0 329.26933 329" width="329pt"><path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/></svg>
                        </div>
                        <div class="sec_2">
                            {{form}}
                            <div class="form-control">
                                <h4>What skills are required?</h4>
                               
                                <input type="text" placeholder="e.g. Build me a website">
                                <div class="input_details">
                                    <small>Please enter at least 10 characters!:</small>
                                    <span for="">5 skills remaining</span>
                                </div>
                            </div>
                            <div class="form-control">
                                <h4>Choose a name of your contest</h4>
                                <p>Start with a bit about yourself or your business, and include an overview of what you need done.</p>
                                <textarea placeholder="Describe your contest here..." name="" id="" cols="30" rows="10"></textarea>
                                <div class="input_details">
                                    <small>Please enter at least 10 characters!</small>
                                    <span for="">255 characters remaining</span>
                                </div>
                                <p>Drag & drop any images or documents that might be helpful in explaining your brief here (Max file size: 25 MB).</p>
                                <input type="file" name="" id="">
                            </div>
                            <div class="form-control">
                                <h4>What skills are required?</h4>
                                <p>Enter up to 5 skills that best describe your contest. Freelancers will use these skills to find contests they are most interested and experienced in.</p>
                                <input type="text" placeholder="e.g. Build me a website">
                                <div class="input_details">
                                    <span>Suggested skills:</span>
                                    <span for="">5 skills remaining</span>
                                </div>
                            </div>
                            <div class="form-control">
                                <h4>What is your estimated budget?</h4>
                                <select name="" id="">
                                    <option value="">AZN</option>
                                </select>
                                <p>Minimum budget</p>
                                <input type="password" placeholder="Enter a budget here">    
                                <!-- <div class="input_details">
                                    <small>Please enter at least 10 characters!</small>
                                </div> -->
                                <p>Maximum budget</p>
                                <input type="password" placeholder="Enter a budget here">    
                                <!-- <div class="input_details">
                                    <small>Please enter at least 10 characters!</small>
                                </div> -->
                            </div>
                            <div class="form-control">
                                <h4>Are these details correct?</h4>
                                <div class="card">
                                    <div class="con prize_con">
                                        <h5>£546.00 – 2,965,464.00 GBP</h5>
                                    </div>
                                    <div class="con details">
                                        <h5>Title</h4>
                                        <p>Description</p>
                                        <div class="tag_con">
                                            <tag>asdsad</tag>
                                            <tag>asdsad</tag>
                                            <tag>asdsad</tag>
                                            <tag>asdsad</tag>
                                            <tag>asdsad</tag>
                                            <tag>asdsad</tag>
                                            <tag>asdsad</tag>
                                            <tag>asdsad</tag>
                                        </div>
                                    </div>
                                </div>
                                <p>Enter up to 5 skills that best describe your contest. Freelancers will use these skills to find contests they are most interested and experienced in.</p>
                                <input type="text" placeholder="e.g. Build me a website">
                                <div class="input_details">
                                    <span>Suggested skills:</span>
                                    <span for="">5 skills remaining</span>
                                </div>
                            </div>
                            <div class="form-next">
                                <button>Next</button>
                                <done>Yes, post my project</done>
                            </div>
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>