{% extends 'includes/base3.html' %}
{% load static %}
{% load filters %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/csa.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/style2.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/project-proposals.css' %}" type="text/css">

<link rel="stylesheet" href="{% static 'css/project-detail.css' %}" type="text/css">

<link rel="stylesheet" href="{% static 'css/side-bar.css' %}">
<link rel="stylesheet" href="{% static 'css/my-profile.css' %}">

    {% csrf_token %}
    <!-- <div class="top_blue">
        <button style="padding-top:80px">
            Details
        </button>
        <button style="padding-top:80px">
            Proposal
        </button>
    </div> -->
    <div id="edit-bar-3" class="edit-bar ">
        
        <div class="top space-between padding">
            <h4>About your project</h4>
            <i class="fas fa-times" onclick="close_bar(3)"></i>
        </div>
        <div class="padding">
            <h5></h5>
            <p>Start with a bit about yourself or your business, and include an overview of what you need done.</p>
                
            <textarea style="margin-bottom: 5px;" name="desc" id='input-3' placeholder="Describe your project here..." value=""></textarea>
            <div class="space-between">
                <div class="flex-column">
                    <small id="error-overview" name='error-overview'></small>
                </div>
                <button id="project-description-edit" class="btnb">Save</button>
            </div>
        </div>
    </div>
    <div style="display: flex;flex-direction: row;width: 100%;"> 
        <div  class="card_container_left">
            {% if detail.status != 1 %}
                <div class="box-con message-con message-open">
                    <div class="message-text-con space-between">
                        <div class="flex-column">
                            {% if detail.status == 3 %}
                            <h4>Project has already been canceled</h4>
                            {% elif detail.status == 2 %}
                            <h4>Work on it</h4>
                            {% elif detail.status == 4 %}
                            <h4>Project has already been completed</h4>
                            {% endif %}
    
                        </div>
                        <!-- <i class="fas fa-times" onclick="close_message()"></i> -->
                    </div>
                </div>
            {% endif %}

            <div class="top_dash_details box-container flex-column">
                <div class="header_dash align-center">
                    <h4>{{detail.title}}</h4>
                    <div class="align-items">
                        <div class="align-center">
                            {% if detail.price_min > detail.price_max %}
                            <h5>{{detail.price_max}}</h5>
                            <h5>&nbsp;{{detail.currency}}</h5>
                            <h5>&nbsp;-&nbsp;</h5>
                            <h5>{{detail.price_min}}</h5>
                            <h5>&nbsp;{{detail.currency}}</h5>
                            {% else %}
                            <h5>{{detail.price_min}}</h5>
                            <h5>&nbsp;{{detail.currency}}</h5>
                            <h5>&nbsp;-&nbsp;</h5>
                            <h5>{{detail.price_max}}</h5>
                            <h5>&nbsp;{{detail.currency}}</h5>
                            {% endif %}
                        </div>
                        {% if detail.admit_time|end_time and detail.status != 1 %}
                        <span>bidding ends in {{ detail.admit_time|end_time}} <i style="margin-left: 4px;" class="fas fa-hourglass-start"></i></span>
                        {% else %}
                        <span style="color: var(--main-orange);">bidding ended <i style="margin-left: 4px;" class="fas fa-hourglass-end"></i></span>
                        {% endif %}
                    </div>
                    
                </div>
                <div class="p_con flex-row">
                    <p id="project-description">{{detail.description}}</p>
                    {% if detail.author == request.user %}
                    <i onclick="close_bar(3)" class="fas fa-pen edit-icon"></i>
                    {% endif %}
                </div>
                <div class="p_con flex-column">
                    <h5>Skills required</h5>
                    <div class="space-between">
                        <div class="flex-row" style="flex-wrap: wrap;">
                            {% for skill in detail.skills.all %}
                            <tag>{{skill.title}}</tag>
                            {% endfor %}
                        </div>
                        <span>Project ID: {{detail.id}}</span>
                    </div>
                </div>
            </div>

            {% if detail.author != request.user %}
                {% if detail.status == 1 %}
                    <div class="top_dash_details box-container flex-column">
                        <div class="header_dash align-center">
                            <h4>Apply on this project</h4>
                        </div>
                        <div class="p_con post-con">
                            <div style="margin-bottom: 20px;" class="flex-column">
                                {% for error in form.non_field_errors %}
                                <small>{{error}}</small>
                                {% endfor %}
                            </div>
                        
                            <form action="" method="POST">
                                
                                <div class="bid-grid">
                                    {% csrf_token %}
                                    
                                    
                                    <div class="flex-column">
                                        <h5>Bid Amount</h5>
                                        {{form.price}}
                                        {% for error in form.price.errors %}
                                            <small>{{error}}</small>
                                        {% endfor %}
                                    </div>
                                    <div class="flex-column">
                                        <h5>This project will be delivered in</h5>
                                        {{form.duration}}
                                        <div class="input_details">
                                            {% for error in form.duration.errors %}
                                                <small>{{error}}</small>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="field_con">
                                    <h5>Describe your proposal</h5>
                                    
                                    {{form.reply}}
                                    <div class="input_details">
                                        <div class="flex-column">
                                            {% for error in form.reply.errors %}
                                            <small>{{error}}</small>
                                            {% endfor %}
                                        </div>
                                        <span for=""></span>
                                    </div>
                                </div>
                                <div class="space-between">
                                    <div></div>
                                    <button class="btnb">Apply</button>
                                </div>
                            </form>
                            
                        </div>     
                    </div>            
                {% endif %}
                
            {% endif %}

            {% if detail.status == 2 %}
                <div class="top_dash_details box-container flex-column">
                    <div class="header_dash align-center">
                        <div class="flex-row align-center">
                            <div class="image">
                                <img src="" alt="">
                            </div>
                            <div class="flex-column">
                                <h5>{{ reply.user.last_name }} {{reply.user.last_name}} <i style="color:var(--main-orange);margin-left: 10px;" class="fas fa-check-circle"></i></h5>
                                <p>@{{reply.user.username}}</p>
                            </div>
                        </div>
                        <div class="align-items flex-row align-center">
                            <h4>{{reply.price}} AZN</h4>
                            <p>&nbsp;in {{reply.duration}} days</p>
                        </div>
                        
                    </div>
                    <div class="p_con">
                        <p>{{reply.reply}}</p>
                    </div>
                </div>
            {% endif %}
                 
            
            <!-- RIGGHTTTTTTT -->
        </div>
        
        <div class="card_container_right">
            <div class="info_box top_dash_details box-container">
                <div class="right_main_details box-padding">
                    <h4 >About the Project</h4>                           
                </div>
                <div style="width: 100%;">
                    <div class="last_piece__end endbox">
                        <div class="top_right_details">
                            <i class="fas fa-address-card icon_detail"></i>
                            <p>Project ID:&nbsp;</p><p>{{detail.id}}</p>                                        
                        </div>
                        <div class="top_right_details">
                            <i class="fas fa-map-marker-alt icon_detail"></i>
                            <p>Status:&nbsp;</p>
                            {% if detail.status == 1 %}
                            <p>Project is aviable</p>
                            {% elif detail.status == 2 %}
                            <p>Work on it</p>
                            {% elif detail.status == 3 %}
                            <p>Project is canceled</p>
                            {% elif detail.status == 4 %}
                            <p>Project is completed</p>                                        
                            {% endif %}
                        </div>
                        <div class="top_right_details align-center">
                            <i class="fas fa-desktop icon_detail"></i>
                            {% if detail|proposals <= 1  %}
                            <p>{{detail|proposals}}</p><p>&nbsp;proposal</p>  
                            {% else %}
                            <p>{{detail|proposals}}</p><p>&nbsp;proposals</p>  
                            {% endif %}                                      
                        </div>
                        <div class="top_right_details">
                            <i class="fas fa-clock icon_detail"></i>
                            <p>published since {{detail.created_at|date:'j M, Y'}}</p>                                        
                        </div>
                        
                    </div>
                    {% if detail.author == request.user %}
                    <div class="med_main_details endbox">
                        <h4 >Actions</h4>                           
                    </div>
                    <div class="last_piece__end endbox">
                        <div class="top_right_details" style="color: var(--border-color);">                                        
                            <i class="fas fa-clock icon_detail"></i>
                            <p style="color: var(--border-color);">Coming Soon...</p>                                        
                        </div>
                        <!-- <div class="top_right_details">                                        
                            <i class="far fa-address-card icon_detail"></i>
                            <p>Identity verified</p>                                        
                        </div>
                        <div class="top_right_details">
                            <i class="far fa-money-bill-alt icon_detail"></i>                                        
                            <p >Payment method verified</p>                                        
                        </div>
                        <div class="top_right_details">
                            <i class="far fa-credit-card icon_detail"></i>
                            <p >Deposite made</p>                                        
                        </div>
                        
                        <div class="top_right_details">
                            <i class="far fa-envelope icon_detail"></i>
                            <p>Email address verified</p>                                        
                        </div>
                        <div class="top_right_details">
                            <i class="far fa-user-circle icon_detail"></i>
                            <p >Profile completed</p>                                        
                        </div>
                        <div class="top_right_details">
                            <i class="fas fa-phone-alt icon_detail"></i>
                            <p >Phone number verified</p>                                        
                        </div> -->
                        
                    </div>
                    {% endif %}
                </div>

                
            </div>
            {% if detail.author != request.user %}
            <div class="info_box top_dash_details box-container">
                <div class="right_main_details box-padding">
                    <h4 >About the Employer</h4>        
                    
                                        
                </div>
                <div style="width: 100%;">         
                    <div class="last_piece__end endbox">
                        <h5>{{detail.author.first_name}} {{detail.author.last_name}} &nbsp;</h5> 
                        <p>@{{detail.author.username}}</p>
                        <div class="top_right_details">
                            <i class="fas fa-user icon_detail"></i>
                            <p>Username: {{detail.author.username}}</p>                                        
                        </div>
                        <div class="top_right_details">
                            <i class="fas fa-desktop icon_detail"></i>
                            {% if detail.author|projects <= 1  %}
                            <p>{{detail.author|projects}}</p><p>&nbsp;posted project</p>  
                            {% else %}
                            <p>{{detail.author|projects}}</p><p>&nbsp;posted projects</p>  
                            {% endif %}                                       
                        </div>
                        <div class="top_right_details">
                            <i class="fas fa-clock icon_detail"></i>
                            <p>Member since {{detail.author.date_joined|date:'j M, Y'}}</p>                                        
                        </div>
                        
                    </div>
                    <div class="med_main_details endbox">
                        <h4 >Employer Verification</h4>                           
                    </div>
                    <div class="verification-con endbox">
                        
                        <div class="top_right_details">                                        
                            <i class="fas fa-address-card icon-panel "></i>
                            <p>Identity not verified</p>                                        
                        </div>
                        <div class="top_right_details">
                            {% if user.email_auth %}
                                <i style="color: var(--main-orange);" class="fas fa-envelope icon-panel"></i>
                                <p >Email Verified</p>
                                {% else %}
                                <div style="width: 100%;" class="space-between align-center">
                                    <div class="align-center">
                                        <i class="fas fa-envelope icon-panel"></i>
                                        <p>Email not Verified</p>  
                                    </div>
                                </div>
                            {% endif %}                                        
                        </div>
                        <div class="top_right_details">
                            {% if user.active %}
                                <i style="color: var(--main-orange);" class="fas fa-user-circle icon-panel"></i>
                                <p style="color: var(--main-orange);">Profile completed</p>
                                {% else %}
                                <div style="width: 100%;" class="space-between align-center">
                                    <div class="align-center">
                                        <i class="fas fa-user-circle icon-panel"></i>
                                        <p>Profile not completed</p>  
                                    </div>
                                </div>
                            {% endif %}   
                            
                            <p ></p>                                        
                        </div>
                        <div class="top_right_details">
                            <i class="fas fa-phone-alt icon-panel"></i>
                            <p >Phone number not verified</p>                                        
                        </div>
                        
                    </div>
                    
                </div>

                
            </div>
            <div class="info_box top_dash_details box-container box-padding">
                <h4>How to write winning bid</h4>
                <p>Your best chance of winning this
                    project is writing a great bid
                    proposal here! <br>
                    <br>
                    
                    Great bids are ones that:
                    <br>
                    <br>


                    
                    * Are engaging and well written
                    without spelling or grammatical
                    errors
                    <br>
                    <br>

                    * Showa clear understanding of
                    what is required for this specific
                    project - personalize your
                    response!
                    <br>
                    <br>



                    * Explain how your skills &
                    experience relate to the project
                    
                    and your approach to working on
                    it
                    <br>
                    <br>
                    
                    * Ask questions to clarify any
                    unclear details
                    
                    Most of all - don't spam or post cut-
                    and-paste bids. You will be
                    penalized or banned if you do so.</p>
            </div>
            {% endif %}
                            
        </div>

        
            
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script src="{% static 'js/side-bar.js' %}"></script>
    <script>
        $('#project-description-edit').click(function(){
            document.querySelector('#error-overview').innerHTML=''
            alert('ASD')
            csrf=document.querySelector('[name="csrfmiddlewaretoken"]').value
            var description=document.querySelector('#input-3').value
            alert(description)
            $.ajax({
                url:'http://127.0.0.1:8000/api/v1.0/edit-project/1/',
                method:'PATCH',
                headers:{
                    'X-CSRFToken': csrf,
                },
                data:{
                    'description':description,
                },
                success:function(e){
                    // alert('YES')
                    document.querySelector('#project-description').innerHTML=e['description']
                    document.querySelector('#error-overview').innerHTML='Project description changed successfully'
                    // console.log(e)
                },
                error:function(e){
                    // alert("NO")
                    error=e['responseJSON']['error']
                    // console.log(e);
                    // console.log(error);
                    if (error){
                        document.querySelector('#error-overview').innerHTML=error
                    }
                    errors=e['responseJSON']['description']
                    if (errors.length){
                        document.querySelector('#error-overview').innerHTML=errors[0]
                        
                    }
                }

            })
        })
    </script>

{% endblock %}