{% extends 'includes/base3.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/csa.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/style2.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/project-proposals.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/project-detail.css' %}" type="text/css">


    <div class="top_blue">
        <button style="padding-top:80px">
            Details
        </button>
        <button style="padding-top:80px">
            Proposal
        </button>
    </div>

    <sections>
        {% csrf_token %}
        <div class="custom-container">
            <div style="display: flex;flex-direction: row;margin-top:100px;width: 100%;">
                
                
                
                
                <div  class="card_container_left">
                    {% for reply in object_list %}
                        <div class="top_dash_details box-container flex-column">
                            <div class="header_dash align-center">
                                <div class="flex-row align-center">
                                    <div class="image">
                                        <img src="" alt="">
                                    </div>
                                    <div class="flex-column">
                                        <h5>{{reply.user.first_name}} {{reply.user.last_name}}</h5>
                                        <p>@{{reply.user.username}}</p>
                                    </div>
                                </div>
                                <div class="align-items flex-row align-center">
                                    <h4>{{reply.price}} AZN &nbsp;</h4>
                                    <p>in {{reply.duration}} days</p>
                                </div>
                                
                            </div>
                            <div class="p_con">
                                <p>{{reply.reply}}</p>
                            </div>
                        </div>
                    {% endfor %}

                    {% include 'includes/pagination.html' %}
                    

                    
           
                </div>
                <div class="card_container_right">
                    <div class="info_box top_dash_details box-container">
                        <div class="right_main_details box-padding">
                            <h4 >About the Employer</h4>        
                            
                                              
                        </div>
                        <div style="width: 100%;">
                            
                            
                            <div class="last_piece__end endbox">
                                <h5>{{detail.author.first_name}} {{detail.author.last_name}} &nbsp;</h5> 
                                <p>@{{detail.author.username}}</p>
                                <div class="top_right_details">
                                    <i class="fas fa-map-marker-alt icon_detail"></i>
                                    <p>Account balance</p>                                        
                                </div>
                                <div class="top_right_details">
                                    <i class="fas fa-desktop icon_detail"></i>
                                    <p>11 project completed</p>                                        
                                </div>
                                <div class="top_right_details">
                                    <i class="far fa-clock icon_detail"></i>
                                    <p>Member since Aug 9 ,2019</p>                                        
                                </div>
                                
                            </div>
                            <div class="med_main_details endbox">
                                <h4 >Employer Verification</h4>                           
                            </div>
                            <div class="last_piece__end endbox">
                                <div class="top_right_details">                                        
                                    <i class="far fa-address-card icon_detail"></i>
                                    <p>Identity verified</p>                                        
                                </div>
                                <div class="top_right_details">
                                    <i class="far fa-money-bill-alt icon_detail"></i>                                        
                                    <p >Payment method verified</p>                                        
                                </div>
                                <div class="top_right_details">
                                    <i class="far fa-credit-card icon_detail"></i>
                                    <p >Deposite made</p>                                        
                                </div>
                                
                                <div class="top_right_details">
                                    <i class="far fa-envelope icon_detail"></i>
                                    <p>Email address verified</p>                                        
                                </div>
                                <div class="top_right_details">
                                    <i class="far fa-user-circle icon_detail"></i>
                                    <p >Profile completed</p>                                        
                                </div>
                                <div class="top_right_details">
                                    <i class="fas fa-phone-alt icon_detail"></i>
                                    <p >Phone number verified</p>                                        
                                </div>
                                
                            </div>
                            
                        </div>

                       
                    </div>
                    <div class="info_box top_dash_details box-container box-padding">
                        <h4>How to write winning bid</h4>
                        <p>Your best chance of winning this
                            project is writing a great bid
                            proposal here! <br>
                            <br>
                            
                            Great bids are ones that:
                            <br>
                            <br>


                            
                            * Are engaging and well written
                            without spelling or grammatical
                            errors
                            <br>
                            <br>

                            * Showa clear understanding of
                            what is required for this specific
                            project - personalize your
                            response!
                            <br>
                            <br>



                           * Explain how your skills &
                            experience relate to the project
                            
                            and your approach to working on
                            it
                            <br>
                            <br>
                            
                            * Ask questions to clarify any
                            unclear details
                            
                            Most of all - don't spam or post cut-
                            and-paste bids. You will be
                            penalized or banned if you do so.</p>
                    </div>
                                    
                </div>
                  
            </div>
        </div>
    </sections>


{% endblock %}