<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    
    <title>Document</title>
</head>
<script src="https://kit.fontawesome.com/13768c085c.js" crossorigin="anonymous"></script>
<body>
    <sections>
        <div class="custom-container">
            <div class="base"> 
                <div class="card_container_left">
                
                </div>
                <div class="card_container_right">
                    <div class="header">
                        <h4 class="searc_btn">
                            Search
                        </h4>
                        <h4 class="saved_jobs">
                            Saved Jobs
                        </h4>
                    </div>
                    <div  class="base_middle">
                        <div>
                        <div class="top" style="border: 0px; margin-top:30px;">
                            <select   name="" id="" style="margin-right:20px;font-size: 15px;font-weight: bold;height: 30px;">
                                <option   value="">Jobs</option>
                                <option value="">Freelancers</option>
                            </select>
                            <input type="text" class="search_input">
    
                            <btnb>
                                Apply Filters
                            </btnb>
                            </div>
                            <div class="middle_2">
                                
                                <div class="icon_container">
                                    <i class="fas fa-poll-h"></i>
                                </div>
                                <h5 class="count_120">
                                    120,753
                                </h5>
                                <h5 class="count_12">
                                    jobs found
                                </h5>
                            </div>
                        </div>
                        <div class="middle">
                            <div class="mid_title">
                            <h4 class="title" style="font-weight:700;">
                                    Title
                                </h4>
                                <p>
                                    <b>Hourly</b>   <span style="font-weight: 600;">-remaining  Expert  Time:More than 6 Months,10-30 hours/week</span>
                                </p>
                                <p style="color:  #707070;font-weight: 500;">
                                    We are looking for a content writer who excels in business & travel writing.
                                    Will be responsible for writing our Business plan, White paper & for releasing 2 product updates on our blog a week, any press releases that may be 
                                </p>
                                <div class="tags row">
                                    <tag style="color:  #707070;font-weight: 500;">
                                        Adobe
                                    </tag>
                                    <tag>
                                        Web Design
                                    </tag>
                                </div>
                            </div>                            
                        </div>
                        <div class="middle">
                            <div class="mid_title">
                            <h4 class="title" style="font-weight:700;">
                                    Title
                                </h4>
                                <p>
                                    <b>Hourly</b>   <span style="font-weight: 600;">-remaining  Expert  Time:More than 6 Months,10-30 hours/week</span>
                                </p>
                                <p style="color:  #707070;font-weight: 500;">
                                    We are looking for a content writer who excels in business & travel writing.
                                    Will be responsible for writing our Business plan, White paper & for releasing 2 product updates on our blog a week, any press releases that may be 
                                </p>
                                <div class="tags row">
                                    <tag style="color:  #707070;font-weight: 500;">
                                        Adobe
                                    </tag>
                                    <tag>
                                        Web Design
                                    </tag>
                                </div>
                            </div>                            
                        </div>
                        <div class="footer">
                            
                            <div style="padding-top: 10px; display: flex;">
                                <h4 class="per_page" style="font-size: medium;">Jobs Per Page</h4>
                                <select name="page_value" id="">
                                    <option value="">10</option>
                                    <option value="">9</option>
                                    <option value="">8</option>
                                    <option value="">7</option>
                                    <option value="">6</option>
                                    <option value="">5</option>
                                </select>
                            </div>
                            <div class="pagination">
                                <ul>
                                    <li><a href="#">&lt;</a></li>
                                    <li class="active"><a>1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li class="next"><a href="#">&gt;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>

        </div>
    </sections>

    <script src="https://use.fontawesome.com/dec111573d.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</body>
</html>