{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/search.css' %}" type="text/css">
<sections>
    <div class="custom-container">
        <div class="base"> 
            <div class="card_container_left_search">
                <div class="up_left">
                    <h4 style="align-items: flex-start; width: 100%;">Skills</h4>
                    <div class="skill_box">
                        <h5 id="skill_item" class="skill_item">sadsad<span class="exit">x</span></h5>
                        
                    </div>
                    <div id="searc_skills_cont" class="flex-end-column" style="width:100%;">
                        <input style="width: -webkit-fill-available;"  type="text" id="searc_skills">
                        <div class="space-between" style="width: 100%;">
                            <button id="close" style="margin-left:15px;border-radius: 10px;background-color: red;color: white;border:0px">Close</button>
                            <button id="apply" style="margin-right:15px;border-radius: 10px;">Apply</button>
                           
                        </div>
                    </div>
                    <div class="skill_btn_cont">
                        <button class="skill_btn" >
                            Clear skills
                        </button>
                        <button class="skill_href">
                            Edit Profile Skills
                        </button>
                   

                    </div>
                    <div id="test-slider"></div>
                    <div class="slidecontainer">
                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                        <p>Value: <span id="demo"></span></p>
                    </div>

                    <h4 style="align-items: flex-start; width: 100%;">Languages</h4>
                    <div class="skill_box">
                        <h5 class="skill_item">English</h5>
                        <h5 class="skill_item">France</h5>
                        <h5 class="skill_item">Turkish</h5>
                        <h5 class="skill_item">{{skills}</h5>
                        
                    </div>  
                    <div skill_btn_cont>
                        <button class="skill_href" >
                            Clear skills
                        </button>
                    </div> 
                   
                    
                    
                </div>
                <div>

                </div>
            </div>
            <div class="card_container_right">
                <div class="header border-bottom ">
                    <h4 class="searc_btn">
                        Search
                    </h4>
                    <h4 class="saved_jobs">
                        Saved Jobs
                    </h4>
                </div>
                <div  class="base_middle border-bottom">
                    <div class="top" style="border: 0px; margin-top:30px;">
                        
                            
                            
                        
                        <select style="margin-right: 20px;" onchange="location = this.value;" name="" id="" >
                            <option   value="{%url 'searchjob'%}">Jobs</option>
                            <option value="" selected>Freelancers</option>
                        </select>
                        <input placeholder="Search">

                        <button id="search" class="btnb">Search</button>
                        </div>
                        <div class="middle_2 space-between">
                            
                            <div class="align-center" style="z-index: 1;">
                                <i class="fas fa-poll-h icon_container"></i>
                                <h5 class="count_120">
                                    120,753
                                </h5>
                                <p>
                                    jobs found
                                </p>
                            </div>
                            <!-- <div class="filter_cont">
                                <btnb>Filter</btnb>
                              
                            </div> -->
                            
                        </div>
                        
                    </div>
                <div id="card_cont">
                    <!-- <div class="middle border-bottom">
                        <div class="mid_title">
                        <h4 class="title" style="font-weight:700;">
                               {{project.title}}
                            </h4>
                            <p>
                                <b>Hourly</b>   <span style="font-weight: 600;">-remaining  Expert  Time:More than 6 Months,10-30 hours/week</span>
                            </p>
                            <p style="color:  #707070;font-weight: 500;">
                                We are looking for a content writer who excels in business & travel writing.
                                Will be responsible for writing our Business plan, White paper & for releasing 2 product updates on our blog a week, any press releases that may be 
                            </p>
                            <div class="tags row">
                                <tag style="color:  #707070;font-weight: 500;">
                                    Adobe
                                </tag>
                                <tag>
                                    Web Design
                                </tag>
                            </div>
                        </div>                            
                    </div> -->
                </div>
                
                
                <div class="footer border-bottom align-center">
                    
                    <div class="align-center">
                        <h4 class="per_page" style="font-size: medium;">Jobs Per Page</h4>                        
                        <select  id="">
                            <option value="">10</option>
                            <option value="">9</option>
                            <option value="">8</option>
                            <option value="">7</option>
                            <option value="">6</option>
                            <option value="">5</option>
                        </select>
                    </div>
                    <div class="pagination">
                        <ul>
                            <li><a href="#">&lt;</a></li>
                            <li ><a>1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li class="active"><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li class="next"><a href="#">&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</sections>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>


<script>
    var url = "http://127.0.0.1:8000/api/v1.0/search/"
    function setup(){
        $.ajax({
            url: url,
            method:'GET',
            success: function(data) 
            {
                for(id in data){
                   
                    
                    project=data[id]
                    var {title,description,id,skills} = project
                    var skill=$('.skill_box').append(`<h5 class="skill_item">${skills}</h5>`)
                    console.log(project); 
                    var element=$("#card_cont").append(`<div class="middle border-bottom">
                        <div class="mid_title">
                        <h4 class="title" style="font-weight:700;">
                               ${title}
                            </h4>
                            <p>
                                <b>Hourly</b>   <span style="font-weight: 600;">-remaining  Expert  Time:More than 6 Months,10-30 hours/week</span>
                            </p>
                            <p style="color:  #707070;font-weight: 500;">
                                ${description}
                            </p>
                            <div class="tags row">
                                <tag style="color:  #707070;font-weight: 500;">
                                    Adobe
                                </tag>
                                <tag>
                                    Web Design
                                </tag>
                            </div>
                        </div>                            
                    </div>`)
                }

            },
            error: function(err)
            {
                console.log(err);
                alert("NOOOOOOO")
            }
        });
    }
    $(document).ready(setup ())
    $('#search').click(setup())
</script>

<script>
    $('.skill_href').click(function(){
        $('#searc_skills_cont').css('display','flex')        
    })
    $('#close').click(function(){
        $('#searc_skills_cont').css('display','none')        
    })
    
    
    
</script>
<script>
    
    // $('.skill_item').mousedown(function(event) { 
    //     $('skill_item').closest('p').remove()
    //     switch (event.which) { 
    //         case 1: 
    //             $(event.target).remove(); 
                
    //         case 2: 
    //             $(event.target).remove(); 
    //         case 3: 
    //         default: 
    //         return; 
    //     } 
    // });
    $('.skill_item').click(function(e){
        $(e.target).remove();
    });
</script>
<script>
    
    $('#apply').click(function doit(){
        skills=$('#searc_skills').val();   
        element=$("<h5 class='skill_item'> </h5>")
        element.appendTo('.skill_box').text(skills)

    })
</script>
<script>
   
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() {
        output.innerHTML = this.value;
    }
</script>
<script>
    var slider = document.getElementById('test-slider');
    noUiSlider.create(slider, {
        start: [20, 80],
        connect: true,
        step: 1,
        orientation: 'horizontal', // 'horizontal' or 'vertical'
        range: {
            'min': 0,
            'max': 100
        },
        format: wNumb({
            decimals: 0
        })
    });
</script>
{% endblock %}
