{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/project-detail.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/search.css' %}" type="text/css">

<sections>
    <div class="custom-container">
        <div class="base"> 
            
            <div class="up_left">
                <div class="filter-sec">
                    <h4>Skills</h4>
                    <div class="skills-con">
                        <tag>Adobe <i class="fas fa-times tag-remove"></i></tag>
                        <input  id="tag_input" placeholder="skills" autocomplete="off">
                        
                    </div>
                </div>
                <div class="filter-sec">
                    <h4>Price</h4>
                    <div class="flex-column">
                        <p>Min Price:</p>
                        <input id="price_min" type="number" placeholder="Min Price">
                    </div>
                    <div class="flex-column">
                        <p>Max Price:</p>
                        <input type="number" id="price_max" placeholder="Max Price">
                    </div>
                </div>
                <div class="filter-sec">
                    <h4>Project difficulty</h4>
                    <div class="flex-column">
                    
                        <div class="align-center">
                            <input style="width: auto;margin: 0 5px;"  type="radio" name="difficulty" value="1">
                            <p>Entry Level</p>
                        </div>
                        <div class="align-center">
                            <input style="width: auto;margin: 0 5px;"  type="radio" name="difficulty" value="2">
                            <p>Intermediate</p>
                        </div>
                        <div class="align-center">
                            <input style="width: auto;margin: 0 5px;" type="radio" name="difficulty" value="3">
                            <p>Expert</p>
                        </div>
                    </div>
                </div>
                <div class="filter-sec" style="border-bottom: 0;">
                    <h4>Project Prize Type</h4>
                    <div class="flex-column">       
                        <div class="align-center">
                            <input style="width: auto;margin: 0 5px;" type="radio" name="price" value="1" >
                            <p>Single Project</p>
                        </div>
                        <div class="align-center">
                            <input style="width: auto;margin: 0 5px;" type="radio"  name="price" value="2">
                            <p>Hourly Work</p>
                        </div>                        
                    </div>
                </div>
                
                
                
            </div>
            
            <div class="card_container_right">
                <div class="header border-bottom ">
                    <h4 class="searc_btn">
                        Search
                    </h4>
                    <h4 class="saved_jobs">
                        Saved Jobs
                    </h4>
                </div>
                <div  class="base_middle border-bottom">
                    <div class="top" style="border: 0px; margin-top:30px;">
                        
                            
                            
                        
                        <select style="margin-right: 20px;" onchange="location = this.value;" name="" id="" >
                            <option   value="{%url 'searchjob'%}">Jobs</option>
                            <option value="" selected>Freelancers</option>
                        </select>
                        <input id="search_input" placeholder="Search">

                        <button id="search_btn" type="submit" class="btnb">Search</button>
                        </div>
                        <div class="middle_2 space-between">
                            
                            <div class="align-center" style="z-index: 1;">
                                <i class="fas fa-poll-h icon_container"></i>
                                <h5 class="count_120">
                                    120,753
                                </h5>
                                <p>
                                    jobs found
                                </p>
                            </div>
                            <!-- <div class="filter_cont">
                                <btnb>Filter</btnb>
                              
                            </div> -->
                            
                        </div>
                        
                    </div>
                <div id="card_cont">
                    <!-- <div class="middle border-bottom">
                        <div class="mid_title">
                        <h4 class="title" style="font-weight:700;">
                               {{project.title}}
                            </h4>
                            <p>
                                <b>Hourly</b>   <span style="font-weight: 600;">-remaining  Expert  Time:More than 6 Months,10-30 hours/week</span>
                            </p>
                            <p style="color:  #707070;font-weight: 500;">
                                We are looking for a content writer who excels in business & travel writing.
                                Will be responsible for writing our Business plan, White paper & for releasing 2 product updates on our blog a week, any press releases that may be 
                            </p>
                            <div class="tags row">
                                <tag style="color:  #707070;font-weight: 500;">
                                    Adobe
                                </tag>
                                <tag>
                                    Web Design
                                </tag>
                            </div>
                        </div>                            
                    </div> -->
                </div>
                
                
                <div class="footer border-bottom align-center">
                    
                    <div class="align-center">
                        <h4 class="per_page" style="font-size: medium;">Jobs Per Page</h4>                        
                        <select  id="">
                            <option value="">10</option>
                            <option value="">9</option>
                            <option value="">8</option>
                            <option value="">7</option>
                            <option value="">6</option>
                            <option value="">5</option>
                        </select>
                    </div>
                    <div class="pagination">
                        <ul>
                            <li><a href="#">&lt;</a></li>
                            <li ><a>1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li class="active"><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li class="next"><a href="#">&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</sections>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>


<script>
  
    
    
    url="http://127.0.0.1:8000/api/v1.0/search/freelancer/"
    
    // document.getElementById("testInput").addEventListener("keyup", function () {
    // tag = this.value;

    //     $.ajax({
    //         url: "http://localhost:8000/api-story/?tag=" + tag,
    //         method: 'GET',
    //         success: function (results) {
    //             var availableTags = [];
    //             for(let tag of results){
    //                 availableTags.push(tag['name'].toUpperCase());
    //             };
    //             console.log([availableTags, availableTags]);
                
    //             $("#testInput ").autocomplete({
    //                 source: availableTags,
    //             });
    //         },
    //         error: function (error) {
    //             console.log(error);
    //             console.log('error')
    //         },
    //     });
    // });


    function setup(url){
        $.ajax({
            url: url,
            method:'GET',
            success: function(data) 
            {
                // console.log(data);

                
                for(id in data){
                
                    project=data[id]
                    var {title,description,id,skills} = project
                    console.log(project); 
                    // var element=$("#card_cont").append(`<div class="middle border-bottom">
                    //     <div class="mid_title">
                    //     <h4>
                    //         ${title}
                    //         </h4>
                    //         <p>
                    //             <h5>Hourly</h5>   <span style="font-weight: 600;">-remaining  Expert  Time:More than 6 Months,10-30 hours/week</span>
                    //         </p>
                    //         <p>
                    //             ${description.slice(0,250)}...
                    //         </p>
                    //         <div class="tags">
                    //             <tag>
                    //                 ${skills}
                    //             </tag>
                    //         </div>
                    //     </div>                            
                    // </div>`)
                    var element=$("#card_cont").append(`<div style='box-shadow:none !important;border-right:0;border-left:0;border-top:0;padding:0 !important;margin:0 !important;' class="top_dash_details box-container flex-column">
                        <div class="header_dash">
                            <h4>${title}</h4>
                            <div class="align-items">
                                <div class="align-center">
                                    
                                    <h5>123</h5>
                                    <h5>&nbsp;AZN</h5>
                                    <h5>&nbsp;-&nbsp;</h5>
                                    <h5>650</h5>
                                    <h5>&nbsp;AZN</h5>
                                    
                                </div>
                                
                                <span style="color: var(--main-orange);">bidding ended <i style="margin-left: 4px;" class="fas fa-hourglass-end"></i></span>
                                
                            </div>
                            
                        </div>
                        <div class="p_con p-con2 flex-row">
                            <p id="project-description">${description.slice(0,250)}</p>                    
                        </div>
                        <div class="p_con flex-column">
                            <div class="space-between">
                                <div class="flex-row" style="flex-wrap: wrap;">
                                    
                                    <tag>${skills}</tag>
                                    
                                </div>
                                <span>Project ID: 1</span>
                            </div>
                        </div>
                    </div>`)

                }

            },
            error: function(err)
            {
                alert(err)
                console.log(err);
                alert("NOOOOOOO")
            }
        });
    }
        
    setup(url)


    $('#search_btn').click(function(){
        var price_type=$('input[name="price"]:checked').val()            
        var level = $('input[name="difficulty"]:checked').val();        
        if ($('input[name="difficulty"]:checked').length > 0) {
            // alert('1')
            if ($('input[name="price"]:checked').length > 0){
                // alert('2')

                var title=$('#search_input').val()
                $("#card_cont").empty();
                var price_min=$('#price_min').val()
                var price_max=$('#price_max').val()
                var skill_tag=$('#testInput').val()
                var url = `http://127.0.0.1:8000/api/v1.0/search/freelancer/?search=${title}&level=${level}&price_min=${price_min}&price_max=${price_max}&price_type=${price_type}&skills=${skills}`
                setup(url)
            }
            else {
                price_type=''
                // alert('3')

                var title=$('#search_input').val()
                $("#card_cont").empty();
                var price_min=$('#price_min').val()
                var price_max=$('#price_max').val()
                var skills=$('#tag_input').val()
                var url = `http://127.0.0.1:8000/api/v1.0/search/freelancer/?search=${title}&level=${level}&price_min=${price_min}&price_max=${price_max}&price_type=${price_type}&skills=${skills}`
                setup(url)
                alert(url)
            }

        }
        else{
            if ($('input[name="price"]:checked').length > 0){
                level=''
                // alert("6")

                var title=$('#search_input').val()
                $("#card_cont").empty();
                var price_min=$('#price_min').val()
                var price_max=$('#price_max').val()
                var skills=$('#tag_input').val()
                var url = `http://127.0.0.1:8000/api/v1.0/search/freelancer/?search=${title}&level=${level}&price_min=${price_min}&price_max=${price_max}&price_type=${price_type}&skills=${skills}`
                setup(url)  
            }
            else {
                price_type=''
                level=''
                // alert("9")

                var title=$('#search_input').val()
                $("#card_cont").empty();
                var price_min=$('#price_min').val()
                var price_max=$('#price_max').val()
                var skills=$('#tag_input').val()
                var url = `http://127.0.0.1:8000/api/v1.0/search/freelancer/?search=${title}&level=${level}&price_min=${price_min}&price_max=${price_max}&price_type=${price_type}&skills=${skills}`
                setup(url)  
                alert(url) 

            }
            
        }

        
    })
    
</script>



<!-- <script>
    $('#tag_input').tagsInput({
        'unique': true,
        'minChars': 2,
        'maxChars': 20,
        'limit': 20,
        'delimiter': [',', ';'],
        // 'autocomplete': {
        //     source: all_topics.split(","),
        // },
        // whitelist: all_topics.split(","),
        });
</script> -->

<!-- <script>
    var dataSource = [
    {id: 1, firstName: 'Tim', lastName: 'Cook'},
    {id: 2, firstName: 'Eric', lastName: 'Baker'},
    {id: 3, firstName: 'Victor', lastName: 'Brown'},
    {id: 4, firstName: 'Lisa', lastName: 'White'},
    {id: 5, firstName: 'Oliver', lastName: 'Bull'},
    {id: 6, firstName: 'Zade', lastName: 'Stock'},
    {id: 7, firstName: 'David', lastName: 'Reed'},
    {id: 8, firstName: 'George', lastName: 'Hand'},
    {id: 9, firstName: 'Tony', lastName: 'Well'},
    {id: 10, firstName: 'Bruce', lastName: 'Wayne'},
    ];
    $('#basic').magicsearch({
        dataSource: "http://127.0.0.1:8000/api/v1.0/tags/?tag=",
        fields: ['tag'],
        id: 'id',
        format: '%tag%'
    });
</script> -->









<!-- <script>
    $(document).ready(function (){
        let auto_input=$('#textInput').autofill();
        $("#testInput").keydown(function(){
            $("#testInput").css("background-color", "yellow");
        });
        $("#testInput").keyup(function(){
            $("#testInput").css("background-color", "pink");

            tag = this.value;
            id_tag_val=$('#testInput').val()

            $.ajax({
                
                url: "http://127.0.0.1:8000/api/v1.0/tags/?tag=" + tag,
                method: 'GET',
                success: function (results) {
                    console.log(results);
                    var availableTags = [];
                    for(let tag of results){
                        availableTags.push(tag['tag'].toUpperCase());
                    };
                    console.log([availableTags, availableTags]);
                    
                    console.log(results);
                    $("#testInput").tags({
                        reqiureData:true,
                        unique:true,
                    }).autofill({
                        data:availableTags
                    });
                },
                error: function (error) {
                    console.log(error);
                    console.log('error')
                },
            });

            
        });
    });
</script> -->

{% endblock %}
