{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/search.css' %}" type="text/css">
<sections>
    <div class="custom-container">
        <div class="base"> 
            
            <div class="up_left">
                <div class="filter-sec">
                    <h4>Skills</h4>
                    <div class="skills-con">
                        <tag>Adobe <i class="fas fa-times tag-remove"></i></tag>

                    </div>
                    <div class="flex-column">
                        <p></p>
                        <input type="text" placeholder="Search for skills">
                    </div>
                </div>
                <div class="filter-sec">
                    <h4>Price</h4>
                    <div class="flex-column">
                        <p>Min Price:</p>
                        <input type="text" placeholder="Min Price">
                    </div>
                    <div class="flex-column">
                        <p>Max Price:</p>
                        <input type="text" placeholder="Max Price">
                    </div>
                </div>
                <div class="filter-sec">
                    <h4>Project difficulty</h4>
                    <div class="flex-column">
                       
                        <div class="align-center">
                            <input type="radio" name="difficulty" value="1">
                            <p>Entry Level</p>
                        </div>
                        <div class="align-center">
                            <input type="radio" name="difficulty" value="2">
                            <p>Intermediate</p>
                        </div>
                        <div class="align-center">
                            <input type="radio" name="difficulty" value="3">
                            <p>Expert</p>
                        </div>
                    </div>
                </div>
                <div class="filter-sec" style="border-bottom: 0;">
                    <h4>Project Prize Type</h4>
                    <div class="flex-column">       
                        <div class="align-center">
                            <input type="radio" name="price" value="1" >
                            <p>Single Project</p>
                        </div>
                        <div class="align-center">
                            <input type="radio" name="price" value="2">
                            <p>Hourly Work</p>
                        </div>                        
                    </div>
                </div>
                
                
                
            </div>

            <div class="card_container_right">
                <div class="header border-bottom ">
                    <h4 class="searc_btn">
                        Search
                    </h4>
                    <h4 class="saved_jobs">
                        Saved Jobs
                    </h4>
                </div>
                <div  class="base_middle border-bottom">
                    <div class="top" style="border: 0px; margin-top:30px;">
                        <select style="margin-right: 20px; " onchange="location = this.value;" name="" id="" >
                        <option   value=""  selected>Jobs</option>
                            <option value="{%url 'searchfreelancer'%}">Freelancers</option>
                        </select>
                        <input type="text">

                        <btnb>
                            Search
                        </btnb>
                        </div>
                        <div class="middle_2 space-between">
                            
                            <div class="align-center" style="z-index: 1;">
                                <i class="fas fa-poll-h icon_container"></i>
                                <h5 class="count_120">
                                    120,753
                                </h5>
                                <p>
                                    jobs found
                                </p>
                            </div>
                            <div class="filter_cont">
                                <btnb>Filter</btnb>
                              
                            </div>
                            
                        </div>
                        
                    </div>
                 
                <div class="middle border-bottom">
                    <div class="mid_title">
                    <h4 class="title" style="font-weight:700;">
                            Title
                        </h4>
                        <p>
                            <b>Hourly</b>   <span style="font-weight: 600;">-remaining  Expert  Time:More than 6 Months,10-30 hours/week</span>
                        </p>
                        <p style="color:  #707070;font-weight: 500;">
                            We are looking for a content writer who excels in business & travel writing.
                            Will be responsible for writing our Business plan, White paper & for releasing 2 product updates on our blog a week, any press releases that may be 
                        </p>
                        <div class="tags row">
                            <tag style="color:  #707070;font-weight: 500;">
                                Adobe
                            </tag>
                            <tag>
                                Web Design
                            </tag>
                        </div>
                    </div>                            
                </div>
                <div class="middle border-bottom">
                    <div class="mid_title">
                        <h4 class="title" style="font-weight:700;">
                            Title
                        </h4>
                        <p>
                            <b>Hourly</b>   <span style="font-weight: 600;">-remaining  Expert  Time:More than 6 Months,10-30 hours/week</span>
                        </p>
                        <p style="color:  #707070;font-weight: 500;">
                            We are looking for a content writer who excels in business & travel writing.
                            Will be responsible for writing our Business plan, White paper & for releasing 2 product updates on our blog a week, any press releases that may be 
                        </p>
                        <div class="tags row">
                            <tag style="color:  #707070;font-weight: 500;">
                                Adobe
                            </tag>
                            <tag>
                                Web Design
                            </tag>
                        </div>
                    </div>                            
                </div>
                <div class="footer border-bottom align-center">
                    
                    <div class="align-center">
                        <h4 class="per_page" style="font-size: medium;">Jobs Per Page</h4>                        
                        <select  id="">
                            <option value="">10</option>
                            <option value="">9</option>
                            <option value="">8</option>
                            <option value="">7</option>
                            <option value="">6</option>
                            <option value="">5</option>
                        </select>
                    </div>
                    <div class="pegi">
    

                        <a class="fas fa-angle-double-left peg-icon" href="?page=1&paginate_by={{paginate_by}}"></a>
                        <a class="fas fa-angle-left peg-icon" href="?page={{ page_obj.previous_page_number }}&paginate_by={{paginate_by}}"></a>
                        <a  class="peg-numbers" href="?page={{page_obj.previous_page_number }}&paginate_by={{paginate_by}}">1</a>
   
                                          
                        <div class="peg-numbers peg-selected">2</div>
                    
                 
                        <a  class="peg-numbers" href="?page={{page_obj.next_page_number }}&paginate_by={{paginate_by}}">3</a>
                        <a class="fas fa-angle-right peg-icon" href="?page={{ page_obj.next_page_number }}&paginate_by={{paginate_by}}"></a>
                        <a class="fas fa-angle-double-right peg-icon" href="?page={{  page_obj.paginator.num_pages }}&paginate_by={{paginate_by}}"></a>   
                    
                    </div>
                </div>
            </div>
        </div>

    </div>
</sections>
 
<!-- 
<script>
    $('#input_1_5').change(function(){
        var electricbill = $(this).val();
        $("#testingin").text(electricbill);
    
        if (electricbill <= 100) {
            var electricrange = '$51-100';
            $("#electric_bill").val(electricrange);
        } else if (electricbill <= 150 && electricbill > 100) {
            var electricrange = '$101-150';
            $("#electric_bill").val(electricrange);
        } else if (electricbill <= 200 && electricbill > 150) {
            var electricrange = '$151-200';
            $("#electric_bill").val(electricrange);
        } else if (electricbill <= 300 && electricbill > 200) {
            var electricrange = '$201-300';
            $("#electric_bill").val(electricrange);
        } else if (electricbill <= 400 && electricbill > 300) {
            var electricrange = '$301-400';
            $("#electric_bill").val(electricrange);
        } else if (electricbill <= 500 && electricbill > 400) {
            var electricrange = '$401-500';
            $("#electric_bill").val(electricrange);
        } else if (electricbill <= 600 && electricbill > 500) {
            var electricrange = '$501-600';
            $("#electric_bill").val(electricrange);
        } else if (electricbill <= 700 && electricbill > 600) {
            var electricrange = '$601-700';
            $("#electric_bill").val(electricrange);
        } else if (electricbill <= 800 && electricbill > 700) {
            var electricrange = '$701-800';
            $("#electric_bill").val(electricrange);
        } else {
            var electricrange = '$0-50';
        }
    });
</script> -->

<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() {
        output.innerHTML = this.value;
    }
</script>
<script>
    var slider = document.getElementById('test-slider');
    noUiSlider.create(slider, {
        start: [20, 80],
        connect: true,
        step: 1,
        orientation: 'horizontal', // 'horizontal' or 'vertical'
        range: {
            'min': 0,
            'max': 100
        },
        format: wNumb({
            decimals: 0
        })
    });
</script>
{% endblock %}
