<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./tokenize2.css">
</head>
<body>
    <select class="demo" multiple>
        <option value="1">Acura</option>
        <option value="2">Audi</option>
        <option value="3">BMW</option>
        <option value="4">Cadillac</option>
        <option value="5">Chevrolet</option>
        <option value="6">Ferrari</option>
        <option value="7">Ford</option>
        <option value="8">Honda</option>
        <option value="9">Lexus</option>
        <option value="10">Mercedes-Benz</option>
      </select>



    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="./tokenize2.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>



    <script>
        var list=[
                        {"text": "Afghanistan", "value": "AF"},
                        {"text": "Åland Islands", "value": "AX"},
                        {"text": "Albania", "value": "AL"},
                        {"text": "Algeria", "value": "DZ"},
                        {"text": "American Samoa", "value": "AS"},
                        {"text": "Andorra", "value": "AD"},
                        {"text": "Angola", "value": "AO"}
                        ]
        $('.demo').tokenize2({
            // dataSource: list
            dropdownMaxItems: 10

        });
        
    </script>
</body>
</html>