
<div id="wrapper">
    <h1>Dynamic Tag Input Suggestions</h1>
    <p>Start typing the name of a popular video game to get some helpful suggestions.</p>

    <div id="searchbar">
    <ul class="token-input-list-facebook"><li class="token-input-input-token-facebook"><input type="text" autocomplete="off" id="token-input-vidyagames" style="outline: none; width: 46px;"><tester style="position: absolute; top: -9999px; left: -9999px; width: auto; font-size: 13.3333px; font-family: Arial; font-weight: 400; letter-spacing: 0px; white-space: nowrap;"></tester></li></ul><input type="text" id="vidyagames" name="vidya" style="display: none;">
    </div>
</div><!-- @end #wrapper -->
  
    
    
   