{% block container %}

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/my-profile.css' %}">
    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
</head>

<body>
    <!-- NAV -->
    <!-- NAV -->
    

    <!-- BACKGROUND -->
        
    <!-- BACKGROUND -->


    <sections>
        <div class="container">
            <!-- CONTENT -->
            {% block content %}

            {% endblock %}
            
        </div>
    </sections>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

    
</body>
</html>


{% endblock %}