{% load static %}
{% load filters %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<nav  class="flex-column" style="height: auto;">
    <div class="nav" style="height: 60px; justify-content: center;">
        <div class="containers">
            {% if not request.user %}
                <div class="left_side_nav">           
                    <a href="{% url 'searchjob' %}" class="headers">Search</a>
                </div>
                <div class="left_side_nav">
                    <a href="{% url 'login' %}" class="login">Login</a>
                    <a href="{% url 'register' %}" class="sign_up">Sign up</a>
                            
                </div>
            {% else %}
                <div class="left_side_nav">           
                    <a href="{% url 'dashboard' %}" class="headers">Dashboard</a>
                    <a href="{% url 'searchjob' %}" class="headers">Search</a>
                    <a href="{% url 'my-projects-freelancer' %}" class="headers">My projects</a>
                    <a href="{% url 'my-profile' %}" class="headers">My Profile</a>

    
                </div>
                <div class="left_side_nav">
                    <a href="{% url 'logout' %}" class="login">Logout</a>
                    <a href="{% url 'my-profile' %}" style="background-image: url('{{request.user.image|img}}');" class="logined-img"></a>
                            
                </div>
            {% endif %}
        </div>
    </div>
    <div class="nav">
        <div class="containers">
            <div class="left_side_nav">           
                <a href="project-proposals/{% detail %}" class="headers">Details</a>
                <a href="{% url 'searchjob' %}" class="headers">Proposals</a>
            

            </div>
            <div class="left_side_nav">
                 
            </div>
        </div>
    </div>
</nav>