.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.align-center{
    display: flex;
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}