<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/post_project.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <link rel="stylesheet" href="{% static 'css/project-detail.css' %}">

    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/inbox2.css' %}">
    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
    

</head>
<body>
    <div class="post_project">
        <div>

        </div>
        <div>

        </div>
    </div>
    <sections>
        <div class="container5">
            <div class="pp_center_con">
                <div class="form">
                    <div class="form_sec">
                        <div class="form_left">
                            <div class="form_header">
                                <div class="image-small">
    
                                </div>
                            </div>
                            <div class="form_accounts">
                                <div class="form_search">
                                    <div>
                                        <i class="fas fa-search search-icon"></i>
                                        <input type="text" placeholder="Search">
                                        

                                    </div>
                                </div>
                                <div class="account">
                                    <div class="align-center">
                                        <div class="image">

                                        </div>
                                        <div class="flex-column">
                                            <h5>Tayfun</h5>
                                            <span>salam</span>
                                        </div>
                                    </div>
                                    <span>12:54</span>
                                </div>
                                <div class="account">
                                    <div class="align-center">
                                        <div class="image">

                                        </div>
                                        <div class="flex-column">
                                            <h5>Tayfun</h5>
                                            <span>salam</span>
                                        </div>
                                    </div>
                                    <span>12:54</span>
                                </div>
                                <div class="account">
                                    <div class="align-center">
                                        <div class="image">

                                        </div>
                                        <div class="flex-column">
                                            <h5>Tayfun</h5>
                                            <span>salam</span>
                                        </div>
                                    </div>
                                    <span>12:54</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex-column" style="width: 100%;height: 100%;">
                            <div class="form_header">
                                <div class="flex-row ">
                                    <div class="image-small">
    
                                    </div>
                                    <div class="flex-column top-padding">
                                        <h5>Tayfun</h5>
                                        <span>asd</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form_messages">
                                
                                <div class="messages">



                                    <div class="message-con-2">
                                        <div class="message-2">
                                            <p>   salamsalamsalam</p>
                                            <span class="flex-end">21:00</span>
                                        </div>
                                    </div>

                                    <div class="message-con-1">
                                        <div class="message-1">
                                            <p> salamsalam salamsalamsalam</p>
                                            <p> lam   salamsalamsalam salamsalamsalam</p>

                                            <span>21:01</span>
                                        </div>
                                    </div>

                                    <div class="message-con-3">
                                        <p>Yesterday</p>
                                    </div>




                                </div>
                                <form action="">
                                    <div class="send">
                                        <div></div>
                                        <!-- <textarea name="" id="" cols="30" rows="10"></textarea> -->
                                        <input type="text">
                                        <div class="send-icon">
                                            <i class="fas fa-paper-plane "></i>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </sections>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script>
        elements=$('.account');
        $('.account').on('click',function(){
            for(let i = 0; i < elements.length; i++){ 
                var element=elements[i];
                element.classList.remove('account-selected')
            }
            this.classList.add('account-selected')
            
        })
       
    </script>
</body>
</html>