:root{
    --form-width:1120px;
}


.get_started_con{
    /* display: grid;
    justify-items: center;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    grid-template-rows: 500px; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
}

.get_started_con .card{
    flex-direction: column;
    align-items: center;
     
    background-color: transparent;
    box-shadow: 0px 0px 15px 2px var(--border-color);
    border: 0;
    width: 200px;
    max-width: 100%;
    min-height: 250px;
    /* height:200px; */
    
    margin: 27px;
    transition: transform,box-shadow;
    transition-duration: var(--transition-time);
    padding: 30px;
    cursor: pointer;
}

.get_started_con .card:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 1px rgb(235, 235, 235);
}

.get_started_con .card svg{
    width: 60px;
    height: 60px;
    cursor: default;
    filter: drop-shadow(0 0);
}

.get_started_con .card svg:hover{
    fill: var(--main-color);
    filter: drop-shadow(0 0);
}
.get_started_con .card h4{
    text-align: center;
}


/*  */


.img_container{
    width: 100px !important;
    height: 100px !important;
    margin-bottom: 25px !important;
}

/* ICON */

.undo_icon{
    color: var(--main-color);
    font-size: 20px;
    transition: color var(--transition-time);
    cursor: pointer;
    padding: 0px;
}
.undo_icon:hover{
    color: var(--main-orange);
}

.form{
    box-shadow: var(--shadow);
}

.form_inc1{
    background-color: var(--main-orange);
    height: 5px;
    width: 200px !important;
}
.form_inc2{
    height: 5px;
    width: 100%;
    background-color: var(--orange-3);
}