:root{
    --card-padding:15px;
}


body{
    overflow: hidden;
}
.inbox-con{
    /* border: 1px solid red; */
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}

.inbox-con .inbox{
    /* border: 1px solid blue; */
    width: 350px;
    border-right: 1px solid var(--border-color);
}

.inbox-con .messages{
    /* border: 1px solid blue; */
    width: 100%;
}
.inbox_1{
    /* border: 1px solid black; */
    padding: var(--card-padding);
}
.inbox_1{
    border-bottom: 1px solid var(--border-color);
}
.inbox_2{
    height: 100%;
}
.search{
    margin-bottom: 10px;
}



.p_off{
    transition: color var(--transition-time);
    cursor: pointer;
    color: var(--border-color);
}
.p_on{
    color: var(--main-orange);
    transition: color  var(--transition-time);
    cursor: pointer;
    /* font-weight: bold; */
}

.p_off:hover{
    color: var(--main-orange);
}

/*  */

.inbox_2 .card{
    background-color: white;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    padding:var(--card-padding);
    transition: background-color var(--transition-time);
}

.card:hover{
    background-color: rgb(248, 248, 248);
}
.card_image{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    background-color: var(--border-color);
    margin-right: 10px;
    
}

.card h5, .card span{
    margin: 2px 0;
    font-weight: normal;
    padding: 0;
}
/* MESSAGES */

.messages-con{
    width: 100%;
    height: 100%;
}
.messages-header{
    padding: 50px;
    background-color: var(--background-color-2);
    border-bottom: 1px solid var(--border-color);
}

.messages{
    padding: 60px;
    padding-top: 40px;
    background-color: rgb(236, 236, 236);
    height: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}



.person2{
    display: flex;
    justify-content: flex-start;
}

.person1{
    display: flex;
    justify-content: flex-end;
}

.message{
    border-radius: 0px 10px 10px 10px ;
    padding: 30px 40px;
    padding-right: 10px;
    padding-top: 20px;

    background-color: white;
}


.inbox-header{
    padding: 25px;
    padding-left: 40px;
    background-color: var(--main-orange);
    
}

.inbox-header .card_image{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}







