body{
    margin: 0%;
    padding: 0%;
    user-select: none;
    -moz-user-select: none;
    max-width: 100%;
}

.background{
    display: flex;
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 999;
    
}
.back_vid{
    display:flex;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100vh;
    width: 100%;
    z-index: 0;
}

.back_img{
    display: flex;
    width: 100%;
    position: absolute;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    background-size: contain;
}

@keyframes example {
    0%   {padding-top: 0px;opacity: 0%;}
    
    100% {padding-top: 50px;opacity: 100%;}
  }
  
  .smoothly_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 120px;
    height: 100vh;

    position: relative;
    font-size: 40px;
    animation-name: example;
    animation-duration: 1.5s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    z-index: 9999999 !important;
    

}
.smoothly{
    color: white;

}
::-webkit-media-controls {
  display:none !important;
}

a{
    text-decoration: none;
    color: white; 
}



@font-face {
    font-family: "Poppins Bold";
    src: url("/fonts/Poppins-ExtraBold.ttf");

    font-weight: 400;
    font-style: normal; 
}



.head_text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    align-items: flex-start;
    width: 100%;
    top: 240px;
    position: relative;
    height: auto;
    
    
  }

  
  @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

  .base_info{
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #E37600;
    padding-bottom: 8px;
  }
  .container_info{
    display:grid;
    position:relative;
    margin-top: 60px;
    left: 60px;
    justify-content: center;
    width:100%;
    grid-template-columns:repeat(auto-fill,minmax(360px,1fr));
    grid-row-gap: 50px;
    grid-template-rows:auto;
    /* border: 2px red solid; */
    
  }
  .container_info
 .box{
    position:relative;
    height:475px;
    width:310px;
    background-color:#E37600;
    display:flex;
    justify-content:center;
    align-items:center;
    
  }
  .container_info
 .box:before{
    content:'';
    position:absolute;
    top:-2px;
    left:-2px;
    right:-2px;
    bottom:-2px;
    background:#fff;
    z-index:-1;
    transform:skew(2deg,2deg);
  }
  .container_info
 .box:nth-child(1):before{
    background:linear-gradient(315deg,#ff0057,#e64a19);
  }
  .container_info
 .box:nth-child(2):before{
    background:linear-gradient(315deg,#89ff00,#00bcd4);
  }
  .container_info
 .box:nth-child(3):before{
    background:linear-gradient(315deg,#e91e63,#5d02ff);
  }
  .container_info
 .box:nth-child(4):before{
    background:linear-gradient(315deg,#ff0000,#ffc107);
  }
  .container_info
 .box:after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    background:rgb(255,255,255,0.05);
    pointer-events:none;
  }
  .content{
    position:relative;
    padding:20px;
    transform:translatey(40px);  
  }
  .content h2{
    position:absolute;
    top:-60px;
    right:20px;
    margin:0;
    padding:0;
    font-size:12em;
    color:rgb(255,255,255,0.03);
    transition:0.5s;
  }
  .box:hover .content h2{
    top:-140px;
  }
  .box .content h3{
    margin:0 0 10px;
    padding:0;
    font-size:24px;
    font-weight:500;
    color:#fff;
    
  }
  .box .content p{
    margin:0;
    padding:0;
    color:#fff;
    font-size:18px;
    
  }
  .box .content a{
    position:relative;
    margin:20px 0 0 ;
    padding:15px;
    text-decoration:none;
    border:1px solid #fff;
    display:inline-block;
    color:#fff;
    transition:0.5s;
    transform:translatey(-40px);
    opacity:0;
    visibility:hidden;
    
  }
  .box:hover .content a{
    transform:translatey(0);
    opacity:1;
    visibility:visible;
    
  }
  .box .content a:hover{
    color:#000;
    background:#fff;
  }
  /* ////////// */
  .category-container{
    display:grid;
    position:relative;
    margin-top: 60px;
    left: 60px;
    justify-content: center;
    width:100%;
    grid-template-columns:repeat(auto-fill,minmax(360px,1fr));
    grid-row-gap: 50px;
    grid-template-rows:auto;

  }

  .category-block {
    background: #FFFFFF;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.1), 0 4px 16px 0 rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    max-width: 360px;
    height: 224px;
    margin-right: 32px;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    transition: 0.5s;
  }
  .category-block img {
    max-width: 144px;
  }
  .category-block:hover{
    animation: cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0 0 10px #D3D3D3;
    transform: scale(1.15) perspective(1px)  }
  .category-info {
    margin: 32px 16px 24px 24px;
  }
  .category-info h2 {
    font-size: 18px;
    color: #111111;
    font-weight: 500;
    margin-top: 0;
  }
  .category-info p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
  }
  .category-info a {
    color: #F76565;
    text-decoration: none;
    justify-content: flex-end;
    font-size: 14px;
  }
.category_head{
  
  font-size: 22px;
  font-weight: 600;
}