:root{
    --gap:20px;
    --bar-height:80px;
}
/* ICONS */

i.edit_i{
    margin: 0 10px;
    color: var(--main-orange);
    transition: color var(--transition-time);
    cursor: pointer;
}

i.edit_i:hover{
    color: var(--black-orange);
}

/*  */

.my_profile_con{
    
}

.grades{
    border: 1px solid var(--border-color);
    background-color: white;
}
.grades .right_main_details{
    flex-direction: row;
    justify-content: space-between;
}
.grad{
    display: flex;
    justify-content: space-between;
}
.grade_1{
    display: flex;
}
.my_profile_con .grade_1{
    width: 100%;
    /* height: 130px; */
    /* border: 1px solid red; */
    margin-bottom: var(--gap);
    display: flex;
    padding: var(--gap);
    align-items: center;
    box-sizing: border-box;
    display: flex;
}

.grade_1_left{
    width: var(--bar-height);
    height: var(--bar-height);
    border-radius: 100px;
    background-color: white;
    /* border: 1px solid red; */
    /* margin-right: var(--gap); */
    margin-right: 30px;
    display: table;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grade_1_right{
    display: flex;
    flex-direction: column;
    /* flex-basis: auto; */
    /* border: 1px solid red; */
    height: var(--bar-height);
    width: 100%;
}
.grade_1_right_up{
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    /* border: 1px solid red; */
    align-items: flex-start;

}
.grade_1_right_down{
    flex-basis: 50%;
    /* border: 1px solid red; */
}

.my_profile_con .grade_2{
    display: flex;
    width: 100%;
    
}
.grade_2_left{
    flex-basis: 75%;
    height: auto;
    width: 100%;
    /* border: 1px solid red; */
    margin-right: var(--gap);
}

.grade_part .con{
    width: 100%;
    margin-bottom: var(--gap);
    padding: var(--gap);
    border: 1px solid var(--border-color);
    box-sizing: border-box;
}






/*  */

.grade_2_right{
    width: 100%;
    flex-basis: 25%;
    height: auto;
    /* border: 1px solid red; */
}


/*  */

.icon-panel{
    margin-right: 10px;
    color: var(--border-color);
}

.grade_2 h4{
    margin-top: 0;
}

h4,p,h5{
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.name-con h4{
    margin: 3px 0;
}
.grade_1_right_up p{
    margin: 1px 0 !important;
}

.card_container_right{
    margin: 0;
}
h5{
    display: flex;
    align-items: center;
}


.edit-error-row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 7px;
}