nav {
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-size: 20px;
    display: flex;
    box-shadow: 0 0px 15px 1px rgba(0, 0, 0, 0);
    /* backdrop-filter: blur(5px); */
    width: 100%;
    position: fixed;
    transition: top,background-color,box-shadow;
    transition-duration: 0.3s;
    top: 0;
    height: 60px;
    z-index: 22;    
    background-color: white;
}
nav a{
    font-size: 17px;
    font-weight: 400;
    color: var(--main-color);
}
nav h4{
    margin: 0 !important;
    padding: 5px !important;
}
.evenAnimation{
    background-color:white;
    box-shadow: 0 0px 15px 1px rgba(0, 0, 0, 0.1);
}
nav .containers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: var(--container-width);
    margin: 0 var(--navbar-margin-side);
}
.headers{
    color: black;
    margin-bottom: 0px;
    cursor: pointer;
}


.left_side_nav{
    display: flex;
    justify-content: center;
    align-items: center;
 
    color: white;
    
    
}


  
.headers{
    margin-right: 20px;
    align-items: center;
}

.headers:hover, .login:hover{
    text-decoration: none;
    color: var(--main-orange);
}
.login ,.sign_up, .logined-img{
    color: var(--main-color);
    margin-left: 35px;
    align-items: center;
    
}

.logined-img{
   width: 40px;
   height: 40px;
   background-color: var(--border-color);
   border-radius: 100px;

   margin-left: 20px;
}

.sign_up{
    background-color: transparent;
    color: var(--main-color);
    padding: 1px 12px 3px;
    border:1px solid var(--main-color);;
    border-radius: 50px;
    padding-bottom: 3px;
    text-decoration: none;
}
.sign_up:hover{
    /* background-color: var(--main-orange); */
    color:var(--main-orange);
    border-color: var(--main-orange);
    text-decoration: none;
    /* box-shadow: 0 0 30px 1px  rgb(255, 192, 74); */
}

.login:focus {
    outline: none;
    box-shadow: none;
  }


.left_side_nav:last-child button{
    color: white;
    display: flex;
    padding: 0 30px;
}

#btn_transparent{
    background-color:transparent ;
    font-family: 'Poppins';
    font-size: 20px;
}
.logined-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}