.pegi{
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.peg-numbers,.peg-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: var(--main-color);
    /* padding: 5px; */
    border-radius: 50px;
    /* border: 1px solid var(--border-color); */
    margin: 0 5px;
    cursor: pointer;
    transition: color, border-color, background-color;
    transition-duration: var(--transition-time);
    border:1px solid transparent;
}
.peg-numbers:hover{
    color: var(--main-orange);
    border-color:var(--main-orange) ;
}
.peg-icon:hover{
    color: var(--main-orange);
}
.peg-icon{
    width: 15px;
    height: 15px;
    margin: 0 ;
    font-size: 14px;
    color: rgb(201, 201, 201);
    margin-top:2px;
    

}
.peg-selected{
    background-color: var(--main-orange);
    border-color: var(--main-orange);
    
    color: white;
}

.peg-selected:hover{
    color: white;
}

a{
    text-decoration: none;
  
}