@import "./css/style.css";



.header{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: white;
    padding: var(--card-middle-padding);
    
}

.searc_btn{
    color: var(--main-orange);
    font-weight: 700;
    font-size: 18px;
    text-align-last: justify;
    padding-right: 30px;
}
.saved_jobs{
    color: var(--main-color);
    font-weight: 700;
    font-size: 18px;
    text-align-last: justify;
}

.base{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 60px;
    margin: 150px 0 200px 0;
}
.card_container_right{
    display: flex;
    flex-basis: 75%;
    justify-content: flex-start;
    padding: 0 var(--card-padding-side);
    border: 1px var(--border-color) solid;
    box-shadow: var(--shadow);
    height: auto ;
    width: 100%;
    flex-direction: column;
    
    


}

.middle{
    display: flex;
    padding: var(--card-middle-padding);
    flex-direction: row;
    width: 100%; 
    background-color: white;
}
.top{
    display: flex;
    flex-direction: row;
    width: 100%;
}


.base_middle{
    display: flex;
    padding: var(--card-middle-padding);
    background-color: var(--background-color-2);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  
}

.search_input{
    margin-right: 30px ;
    height: 30px;
}

.middle_2{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin:40px 0 20px 0;
}

.count_120{
    color: var(--main-orange);
    font-weight: 700;
    font-size: 13px;
    margin-right: 10px !important;
    margin-left: 7px !important;
    

}
.count_12{
    font-weight: 700;
    font-size: 13px;
    margin-top:10px ;

}

.icon_container{
    width: 30px;
    height: 30px;
    font-size: 25px;
    transform: rotate(-90deg);
    /* margin-right:10px ; */
    color: var(--main-orange);
}

.mid_title{
    flex-direction: column;
}
.tags{
    display: flex;
    width: 100%;
    flex-direction: row;
    /* flex-direction: row; */
    /* width: 400px; */
    /* padding: 40px 0  0 15px; */
    margin-top: 15px;
}
.per_page{
    color: var(--main-orange);
    font-weight: 700;
    font-size: medium;
    flex-direction: row;
    text-align-last: justify;
    padding-right: 30px;
}
.footer{
    display: flex;
    padding: var(--card-middle-padding);    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: white;
}
select option {
    margin: 40px;
    background:white;
    color: black;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}

option:checked:hover, select:focus option:checked:hover {
    background-color: darkgoldenrod;
    color: darkgoldenrod;
}




.pagination {
    overflow: hidden;
    
    display: flex;
    position: relative;
    justify-content: center;
    /* flex-direction: row; */
    width: 200px;
    height:50px;
    padding-top: 20px;
}
.pagination li {
    float: left;
}
.pagination ul {
    list-style-type: none;
    float: left;
    left: 30%;
    position: relative;
}
.pagination ul > li {
    list-style-type: none;
    left: -50%;
    position: relative;
}
.pagination li a {
    transition: all 100ms ease-in-out 0s;
    background-color: #F7F7F8;
    border-radius: 5px 5px 5px 5px;
    color: #69696E;
    display: block;
    font: 12px/30px Arial, sans-serif;
    height: 30px;
    margin: 0 3px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 30px;
}
.pagination li a:hover {
    background-color: #FF8C00;
    color: #FFFFFF;
}
.pagination li.active a {
    background-color: #FF8C00;
    color: #FFFFFF;
}
.pagination li.active a:hover {
    color: #FFFFFF;
}


.skill_box{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    border: 1px var(--border-color) solid;
    max-width: 300px;
    padding: 15px;
}

.skill_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: reverse-column;
    border:  var(--border-color) solid  1px;
    padding: 5px 8px;
    width:fit-content;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    margin: 7px 5px;
}

.skill_btn_cont{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}


.skill_href{
    display: flex;
    width: fit-content;
    height: 40px;
    background-color: var(--third-color);
    justify-content: flex-start;   
    color: white;
    font-weight: 600;
    padding: var(--medium-btn-padding);
    transition: 0.5s;
    outline: none;
}

.skill_href:hover{
    box-shadow: 0 0 10px var(--third-color) ;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    border-color: var(--third-color);
}
.skill_btn{
    
    width: fit-content;
    height: 40px;
    transition: 0.5s;
    background-color: var(--main-orange);
    color: white;
    outline: none;
}
.skill_btn:hover{
    box-shadow: 0 0 10px var(--main-orange);
    color: white;
    white-space: nowrap;
    
}

.skill_btn:active {
    outline-style: none;
}

.slidecontainer {
    width: 100%;
  }
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--main-orange);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.filter_cont{
    display: flex;
    align-items: flex-end;
    z-index: 22;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding-right:100px;
    
}
#searc_skills{
    margin: 15px;
    border-radius: 10px;
}
.filter_tab{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.paragraph_filter{
    font-size: 15px;
    font-weight: 600;

}
.exit{
    display: flex;
    width: 15px;
    height: 20px;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 16px;
    color:  rgb(77, 64, 64);
    cursor: pointer;
    transition: 0.3s;
    /* border: 1px red solid; */
    margin:0px 0px  5px 5px;

}
.exit:hover{
    color: rgb(10, 9, 9);
}

.flex-row-filter{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 800px) {
    .flex-row-filter{
        display: flex;
        flex-direction: column;
    }
    .filter_cont{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px;
    }
}


/* Bax bele css yazirlar. incime ama yuxardakilar bullshitdi xD. Diss to atilla */

.card_container_right .footer{
    background-color: transparent !important;
    height: fit-content !important;
    border-bottom: 0;
}

.up_left{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    background-color: white;
    border: 1px var(--border-color) solid;
    box-shadow: var(--shadow);

    flex-basis: 25%;
    margin-right: 20px;
}

.filter-sec{
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
}

.filter-sec p{
    margin: 7px 0;
    /* margin-top: 7px; */
}
.filter-sec h4{
    font-size: 16px;
}

.skills-con{
    padding: 10px;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    border: 1px solid var(--border-color);
}

.tag-remove{
    font-size: 12px;
    margin-left: 4px;
    /* font-weight: 400; */
    /* color: var(--main-color); */
    color: rgb(126, 126, 126);
    cursor: pointer;
    transition: color var(--transition-time);
}
.tag-remove:hover{
    color: var(--main-orange);
}
.skills-con tag{
    cursor: default;
}
.skills-con tag:hover{
    border-color: var(--border-color);
    color: var(--main-color);
}

.pegi{
    width: fit-content;
}

/* BOX EDIT  */
.card-project{
    padding: 0 !important;
    margin: 0 !important;
}

.header_dash{
    border: 0 !important;
    padding: 20px 30px !important;
    padding-bottom: 0 !important;

}
.p_con{
    padding: 20px 30px !important;
    padding-bottom: 20px !important;
    padding-top: 0 !important;
}
.p-con2{
    padding-bottom: 10px !important;

}