.edit-icon{
    color: var(--main-orange);
    padding: 8px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 0px 15px 1px rgb(226, 226, 226);
    cursor: pointer;
    transition: box-shadow var(--transition-time);
    margin: 0 15px;  
    font-size: 14px;  
    height: fit-content;

    
}
.edit-icon:hover{
    box-shadow: 0px 0px 15px 2px rgb(219, 219, 219);
}

.edit-bar{
    position: fixed;
    right: -500px;
    width: 500px;
    height: 100vh;
    background-color: white;
    box-shadow: 0px 0px 15px 1px rgb(226, 226, 226);
    transition: right var(--transition-time);
    top: 0;
    z-index: 100000;
}
.open-edit-bar{
    right: 0;
}
.edit-bar .top{
    background-color: var(--background-color-2);
    border-bottom: 1px solid var(--border-color);  
}
.edit-bar input{
    margin: 3px 0;
}
.edit-bar btnb{
    margin: 10px 0;
}
.edit-bar .padding{
    padding: 20px;
}
.edit-bar textarea{
    height: 130px;
}
.edit-bar h4{
    margin: 0;
}
.fa-times{
    transition: color var(--transition-time);
    cursor: pointer;
}
.fa-times:hover{
    color: var(--main-orange);
}